@page "/carian_umum"
@attribute [Authorize]

@implements IDisposable

@using PBTPro.DAL.Services
@using PBTPro.Data
@using PBTPro.DAL.Models.PayLoads
@using DevExpress.Blazor
@using Components

@inject SearchService _SearchService
@inject NavigationManager NavigationManager
@inject PBTAuthPermissionService PermissionService

<style>
    .dxbl-grid {
        height: 98.2%;
        max-height: 98.2%;
    }
</style>

@if (!PermissionService.HasPermission("View"))
{
    NavigationManager.NavigateTo("/no-permission");
}
else
{
    <DxLoadingPanel @bind-Visible="PanelVisible"
        IsContentBlocked="true"
        ApplyBackgroundShading="true"
        IndicatorAreaVisible="false"
        Text="Capaian Data...">

        <div class="d-lg-flex border-bottom">
            <div class="col-md-12 py-1 dx-helptitle pageTitle">
                <img class="imgTitle" src="/images/icons/magnifier.png" />
                <div class="textTitle">Carian Umum</div>
            </div>
        </div>

        <div class="item-container-x">
            <DxGrid @ref="Grid"
                    Data="searchData"
                    KeyFieldName="codeid_premis"
                    ShowGroupPanel="false"
                    VirtualScrollingEnabled=true
                    ShowFilterRow="false"
                    TextWrapEnabled="true"
                    ShowSearchBox="true"
                    EditorRenderMode="GridEditorRenderMode.Integrated"
                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                    PageSize="100000"
                    SearchBoxNullText="Masukkan kata carian..."
                    SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                    CustomizeSummaryDisplayText="Grid_CustomizeSummaryDisplayText"
                    PageSizeSelectorVisible="false"
                    PageSizeSelectorAllRowsItemVisible="true"
                    PagerAutoHideNavButtons="true"
                    EditFormButtonsVisible="false"
                    AutoExpandAllGroupRows="false"
                    GroupFooterDisplayMode="GridGroupFooterDisplayMode.Auto"
                    ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                    CustomizeElement="Grid_CustomizeElement"
                    KeyboardNavigationEnabled="true"
                    CssClass="mw-1000, grid-size"> 

                <Columns>
                    <DxGridCommandColumn Width="40px">
                        <HeaderTemplate>
                            <img src="images/icons/information.png" />
                        </HeaderTemplate>
                        <CellDisplayTemplate>
                            <a @onclick="@(() => Grid.StartEditRowAsync(context.VisibleIndex))" style="text-decoration: none; padding:0px 2px;" href="javascript:void(0);"><img src="images/icons-small/information.png" /></a>
                        </CellDisplayTemplate>
                    </DxGridCommandColumn>
                    <DxGridDataColumn Caption="No Lot" MinWidth="120" Width="12%" FieldName="premis_lot" SortIndex="0" />
                    <DxGridDataColumn Caption="Tingkat" MinWidth="100" Width="10%" FieldName="premis_floor" TextAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn Caption="No SSM" MinWidth="130" Width="13%" FieldName="license_ssmno" />
                    <DxGridDataColumn Caption="No Akaun Lesen" MinWidth="150" Width="15%" FieldName="license_accno" />
                    <DxGridDataColumn Caption="Status Lesen" MinWidth="150" Width="15%" FieldName="license_status_view" />

                    <DxGridDataColumn Caption="Nama Pemegang Lesen" MinWidth="170" Width="17%" FieldName="license_owner_name" />
                    <DxGridDataColumn Caption="No Kad Pengenalan" MinWidth="130" Width="13%" FieldName="license_owner_icno" />
                    <DxGridDataColumn Caption="Alamat Pemegang Lesen" MinWidth="230" Width="23%" FieldName="license_owner_addess" />
                    <DxGridDataColumn Caption="Nama Perniagaan" MinWidth="200" Width="20%" FieldName="license_business_name" />
                    <DxGridDataColumn Caption="Alamat Perniagaan" MinWidth="230" Width="23%" FieldName="license_business_address" />
                    <DxGridDataColumn Caption="Tempoh" MinWidth="100" Width="10%" FieldName="license_duration" TextAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn Caption="Tarikh Mula" MinWidth="120" Width="12%" FieldName="license_start_date" TextAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn Caption="Tarikh Tamat" MinWidth="120" Width="12%" FieldName="license_end_date" TextAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn Caption="Jenis Lesen" MinWidth="300" Width="30%" FieldName="license_type" />
                    <DxGridDataColumn Caption="Amaun (RM)" MinWidth="120" Width="12%" FieldName="license_total_amount" TextAlignment="GridTextAlignment.Right" />

                    <DxGridDataColumn Caption="No Akaun Cukai" MinWidth="150" Width="15%" FieldName="tax_accno" />
                    <DxGridDataColumn Caption="Nama Pemilik" MinWidth="170" Width="17%" FieldName="tax_owner_name" />
                    <DxGridDataColumn Caption="No Kad Pengenalan" MinWidth="130" Width="13%" FieldName="tax_owner_icno" />
                    <DxGridDataColumn Caption="Alamat Pemilik" MinWidth="230" Width="23%" FieldName="tax_owner_addess" />
                    <DxGridDataColumn Caption="Alamat Cukai" MinWidth="230" Width="23%" FieldName="tax_address" />
                    <DxGridDataColumn Caption="Status Cukai" MinWidth="150" Width="15%" FieldName="tax_status_view" />
                    <DxGridDataColumn Caption="Tarikh Mula" MinWidth="120" Width="12%" FieldName="tax_start_date" TextAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn Caption="Tarikh Tamat" MinWidth="120" Width="12%" FieldName="tax_end_date" TextAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn Caption="Amaun (RM)" MinWidth="120" Width="12%" FieldName="tax_total_amount" TextAlignment="GridTextAlignment.Right" />

                </Columns>
                <EditFormTemplate Context="EditFormContext">
                    @{
                        var dtEdit = (general_search_premis_detail)EditFormContext.EditModel;

                        List<ImageFile> AssetImages = new List<ImageFile>();
                        string strImagePremis = dtEdit.premis_gkeseluruh ?? "";

                    }
                    <DxFormLayout CssClass="w-100" style="padding:10px 20px;">

                        @if (strImagePremis.Trim() != "")
                        {
                            <DxFormLayoutItem ColSpanMd="12">
                                <div class="e-name"><u>Gambar Hadapan</u></div>
                                <div class="mt-0 mb-1">
                                    <a href="@strImagePremis" target="_blank"><img src="@strImagePremis" style="height:150px;width:auto;border:1px solid #333;" /></a>
                                </div>
                            </DxFormLayoutItem>
                        }

                        <DxFormLayoutItem ColSpanMd="3" BeginRow="true">
                            <div class="e-name"><u>Maklumat Lesen</u></div>
                            <table class="layout_search">
                                <tr>
                                    <td nowrap>No Lot</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.premis_lot</td>
                                    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td nowrap>Tingkat</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.premis_floor</td>
                                </tr>
                                <tr>
                                    <td nowrap>No Akaun Lesen</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.license_accno</td>
                                    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td nowrap>No SSM</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.license_ssmno</td>
                                </tr>
                                <tr>
                                    <td nowrap>Status Lesen</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%"><b>@dtEdit.license_status_view</b></td>
                                    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td nowrap></td>
                                    <td nowrap>&nbsp;&nbsp;</td>
                                    <td width="50%"></td>
                                </tr>
                                <tr>
                                    <td nowrap>Nama Pemegang Lesen</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.license_owner_name</td>
                                    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td nowrap>No Kad Pengenalan</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.license_owner_icno</td>
                                </tr>
                                <tr>
                                    <td nowrap valign="top">Alamat Pemegang Lesen</td>
                                    <td nowrap valign="top">&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.license_owner_addess</td>
                                    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td nowrap>Nama Perniagaan</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.license_business_name</td>
                                </tr>
                                <tr>
                                    <td nowrap valign="top">Alamat Perniagaan</td>
                                    <td nowrap valign="top">&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.license_business_address</td>
                                    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td nowrap>Tempoh</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.license_duration</td>
                                </tr>
                                <tr>
                                    <td nowrap>Tarikh Mula</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.license_start_date</td>
                                    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td nowrap>Tarikh Tamat</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.license_end_date</td>
                                </tr>
                                <tr>
                                    <td nowrap valign="top">Jenis Lesen</td>
                                    <td nowrap valign="top">&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.license_type</td>
                                    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td nowrap>Amaun (RM)</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.license_total_amount</td>
                                </tr>
                            </table>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="9"></DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="6" BeginRow="true">
                            @if ((!string.IsNullOrEmpty(dtEdit.license_g_activity_1)) || (!string.IsNullOrEmpty(dtEdit.license_g_activity_2)) || (!string.IsNullOrEmpty(dtEdit.license_g_activity_3)))
                            {
                                <div class="e-name"><u>Gambar Aktiviti</u></div>
                            }
                            <div class="mt-0 mb-2">
                                @if (!string.IsNullOrEmpty(dtEdit.license_g_activity_1))
                                {
                                    <a href="@dtEdit.license_g_activity_1" target="_blank"><img src="@dtEdit.license_g_activity_1" style="height:150px;width:auto;border:1px solid #333;margin-right:1px;" /></a>
                                }
                                
                                @if (!string.IsNullOrEmpty(dtEdit.license_g_activity_2))
                                {
                                    <a href="@dtEdit.license_g_activity_2" target="_blank"><img src="@dtEdit.license_g_activity_2" style="height:150px;width:auto;border:1px solid #333;margin-right:1px;" /></a>
                                }
                                
                                @if (!string.IsNullOrEmpty(dtEdit.license_g_activity_3))
                                {
                                    <a href="@dtEdit.license_g_activity_3" target="_blank"><img src="@dtEdit.license_g_activity_3" style="height:150px;width:auto;border:1px solid #333;margin-right:1px;" /></a>
                                }
                            </div>

                            @if ((!string.IsNullOrEmpty(dtEdit.license_g_signbboard_1)) || (!string.IsNullOrEmpty(dtEdit.license_g_signbboard_2)) || (!string.IsNullOrEmpty(dtEdit.license_g_signbboard_2)))
                            {
                                <div class="e-name"><u>Papan Tanda</u></div>
                            }
                            
                            <div class="mt-0 mb-1">
                                @if (!string.IsNullOrEmpty(dtEdit.license_g_signbboard_1))
                                {
                                    <a href="@dtEdit.license_g_signbboard_1" target="_blank"><img src="@dtEdit.license_g_signbboard_1" style="height:150px;width:auto;border:1px solid #333;margin-right:1px;" /></a>
                                }

                                @if (!string.IsNullOrEmpty(dtEdit.license_g_signbboard_2))
                                {
                                    <a href="@dtEdit.license_g_signbboard_2" target="_blank"><img src="@dtEdit.license_g_signbboard_2" style="height:150px;width:auto;border:1px solid #333;margin-right:1px;" /></a>
                                }

                                @if (!string.IsNullOrEmpty(dtEdit.license_g_signbboard_3))
                                {
                                    <a href="@dtEdit.license_g_signbboard_3" target="_blank"><img src="@dtEdit.license_g_signbboard_3" style="height:150px;width:auto;border:1px solid #333;margin-right:1px;" /></a>
                                }
                            </div>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="6"></DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="3" BeginRow="true">
                            <div class="e-name"><u>Maklumat Cukai</u></div>
                            <table class="layout_search">
                                <tr>
                                    <td nowrap>No Akaun Cukai</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.tax_accno</td>
                                    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td nowrap>Status Cukai</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%"><b>@dtEdit.tax_status_view</b></td>
                                </tr>
                                <tr>
                                    <td nowrap>Nama Pemilik</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.tax_owner_name</td>
                                    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td nowrap>No Kad Pengenalan</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.tax_owner_icno</td>
                                </tr>
                                <tr>
                                    <td nowrap valign="top">Alamat Pemilik</td>
                                    <td nowrap valign="top">&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.tax_owner_addess</td>
                                    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td nowrap valign="top">Alamat Cukai</td>
                                    <td nowrap valign="top">&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.tax_address</td>
                                </tr>
                                <tr>
                                    <td nowrap>Tarikh Mula</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.tax_start_date</td>
                                    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td nowrap>Tarikh Tamat</td>
                                    <td nowrap>&nbsp;:&nbsp;</td>
                                    <td width="50%">@dtEdit.tax_end_date</td>
                                </tr>
                            </table>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="9"></DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="12"><hr style="padding:0;margin:0;" /></DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="12">
                            <DxButton Click="@(() => Grid.CancelEditAsync())" class="btn-edit-grid" Text="Tutup" />
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </EditFormTemplate>
                @*This is to count the summary*@
                <TotalSummary>
                    <DxGridSummaryItem FooterColumnName="premis_lot"
                                       Name="Custom"
                                       SummaryType=GridSummaryItemType.Count />
                </TotalSummary>
            </DxGrid>
        </div>

    </DxLoadingPanel>
}

@code {
    bool PanelVisible { get; set; }

    IEnumerable<general_search_premis_detail> searchData;

    IGrid Grid { get; set; }
    int GridPageIndex { get; set; } = 0;
    string GridSearchText = "";

    TaskCompletionSource<bool> DataLoadedTcs { get; } = new(TaskCreationOptions.RunContinuationsAsynchronously);

    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        //Get search record
        searchData = await _SearchService.GetListPremisDetails();
        DataLoadedTcs.TrySetResult(true);
        PanelVisible = false;
    }

    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.SearchBoxContainer)
        {
            e.Style = "Width: 100%";
        }
    }

    //Search premise function, click from the grid
    protected async Task OnSelectedRow(object itemData)
    {
        // // //Remove the last marker ==========
        // // if (markerSearch.Any())
        // // {
        // //     var lastMarker = markerSearch.Pop();
        // //     await lastMarker.SetMap(null);
        // // }
        // // //====================================

        // // var item = (general_search_premis_detail)itemData;
        // // double premisLat = item.premis_latitude ?? 0;
        // // double premisLong = item.premis_longitude ?? 0;
        // // await PremiseLocation(new LatLngLiteral { Lat = premisLat, Lng = premisLong });
    }

    string GetColorLot(int typeLot)
    {
        switch (typeLot)
        {
            case 1:
                return "Green";
            case 5:
                return "Red";
            case 3:
                return "Yellow";
            case 4:
                return "Grey";
            default:
                return "Black";
        }
    }

    void Grid_CustomizeSummaryDisplayText(GridCustomizeSummaryDisplayTextEventArgs e)
    {
        if (e.Item.Name == "Custom")
            e.DisplayText = string.Format("Bil. : {0}", e.Value);
    }

    public void Dispose()
    {
        DataLoadedTcs.TrySetCanceled();
    }
}
