@page "/senarai_jabatan"
@attribute [AllowAnonymous]

@inject DepartmentService _department
@* @using System.Globalization *@
@* @implements IDisposable *@
@* @using Blazored.Toast.Services *@
@using Newtonsoft.Json
@using System.ComponentModel
@using PBTPro.DAL.Models;
@using PBTPro.Data
@inject NavigationManager NavigationManager
@* @inject IToastService toastService *@

<div class="d-lg-flex border-bottom mb-2">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="/images/icons/information.png" />
        <div class="textTitle">Tetapan - Senarai Jabatan</div>
    </div>
</div>

<style>
    .dxbl-grid {
        height: 79vh;
        max-height: 79vh;
    }
</style>

<hr style="background-color:transparent; padding:0.5em 0;margin:auto;" />
<div class="item-container-x">
    <DxGrid @ref="Grid"
            Data="@_lstDepartment"
            KeyFieldName="DeptId"
            ShowGroupPanel="true"
            ShowFilterRow="true"
            CustomizeSummaryDisplayText="Grid_CustomizeSummaryDisplayText"
            EditorRenderMode="GridEditorRenderMode.Integrated"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            PageSize="25"
            @bind-PageIndex="@GridPageIndex"
            PagerPosition="GridPagerPosition.Bottom"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            EditModelSaving="Grid_EditModelSaving"
            EditFormButtonsVisible="false"
            PageSizeSelectorVisible="true"
            PageSizeSelectorItems="@(new int[] { 25, 50, 100 })"
            PageSizeSelectorAllRowsItemVisible="true"
            PagerAutoHideNavButtons="false"
            ColumnResizeMode="@ColumnResizeMode"
            HighlightRowOnHover="true"
            CssClass="mv-1000">

        <Columns>

            <DxGridCommandColumn EditButtonVisible="true" DeleteButtonVisible="true" NewButtonVisible="true" Width="120px">
                <HeaderTemplate>
                    <a @onclick="@(() => Grid.StartEditNewRowAsync())" style="text-decoration: none;" href="javascript:void(0);"><img src="images/icons/plus-circle.png" /></a>
                </HeaderTemplate>
                <CellDisplayTemplate>
                    <a @onclick="@(() => Grid.StartEditRowAsync(context.VisibleIndex))" style="text-decoration: none; padding-right:5px;" href="javascript:void(0);"><img src="images/icons-small/table--pencil.png" /></a>
                    <a @onclick="@(() => Delete((department_info)context.DataItem))" style="text-decoration: none;padding-right:5px;" href="javascript:void(0);"><img src="images/icons-small/cross-circle-frame.png" /></a>
                </CellDisplayTemplate>
            </DxGridCommandColumn>


            <DxGridDataColumn FieldName="@nameof(department_info.dept_code)" Caption="Kod Jabatan" Width="20%" TextAlignment="GridTextAlignment.Left" AllowGroup="false" />
            <DxGridDataColumn FieldName="@nameof(department_info.dept_name)" Caption="Nama Jabatan" Width="40%" TextAlignment="GridTextAlignment.Left" AllowGroup="false" />
            <DxGridDataColumn FieldName="@nameof(department_info.dept_description)" Caption="Catatan" Width="40%" TextAlignment="GridTextAlignment.Left" AllowGroup="false" />
            <DxGridDataColumn FieldName="@nameof(department_info.dept_status)" Caption="Status Aktif" Width="40%" TextAlignment="GridTextAlignment.Center" AllowGroup="false">
                <CellDisplayTemplate>
                    <div>@GetStatusDepartmentIconHtml(((department_info)context.DataItem).dept_status)</div>
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName=@nameof(department_info.created_date)
                              DisplayFormat="dd/MM/yyyy"
                              Caption="Tarikh Cipta"
                              MinWidth="120"
                              Width="12%"
                              TextAlignment="GridTextAlignment.Center"
                              SortOrder="GridColumnSortOrder.Ascending"
                              SortIndex="0" />
        </Columns>

        <EditFormTemplate Context="editFormContext">
            @{
                var dtData = (department_info)editFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">



                <DxFormLayoutItem ColSpanMd="3" BeginRow="true">
                    <table>

                        <tr>
                            <td nowrap>Status Paparan</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td width="50%" colspan="7">
                                <DxComboBox Data="@DeptStatusOptions"
                                            ShowValidationIcon="true"
                                            NullText="Pilih Status..."
                                            @bind-Value="@dtData.dept_status"
                                            @bind-Text="@dtData.dept_status">
                                </DxComboBox>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap>Kod Jabatan</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td width="50%" colspan="7">
                                <DxTextBox @bind-Text="@dtData.dept_code"
                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                           BindValueMode="BindValueMode.OnInput"
                                           NullText="Kod Jabatan..."
                                           Maxlength="120"
                                           ShowValidationIcon="true"
                                           CssClass="cw-320" style="width:370px;" />
                            </td>
                        </tr>
                        <tr>
                            <td nowrap>Nama Jabatan</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td width="50%" colspan="7">
                                <DxTextBox @bind-Text="@dtData.dept_name"
                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                           BindValueMode="BindValueMode.OnInput"
                                           NullText="Nama Jabatan..."
                                           Maxlength="120"
                                           ShowValidationIcon="true"
                                           CssClass="cw-320" style="width:370px;" />
                            </td>
                        </tr>
                        <tr>
                            <td nowrap valign="top">Catatan</td>
                            <td valign="top">&nbsp;:&nbsp;</td>
                            <td width="50%" colspan="7">
                                <DxMemo @bind-Text="@dtData.dept_description"
                                        CssClass="cw-480"
                                        Rows="3" />
                            </td>
                        </tr>
                        <tr style="height:10px;"><td colspan="7"></td></tr>
                        <tr style="height:1px;background-color:#ccc;"><td colspan="7"></td></tr>
                        <tr style="height:10px;"><td colspan="7"></td></tr>

                    </table>
                </DxFormLayoutItem>

                <DxFormLayoutItem ColSpanMd="12"><hr style="padding:0;margin:0;" /></DxFormLayoutItem>
                <DxFormLayoutItem ColSpanMd="12">
                    <DxButton SubmitFormOnClick="true" Text="Simpan" />
                    <DxButton Click="@(() => Grid.CancelEditAsync())" Text="Batal" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>
        <CustomValidators>
            <MyCustomValidator DataItemValidating="ValidateGridData" />
        </CustomValidators>
    </DxGrid>


    <DxPopup @bind-Visible="@ConfirmationShown" HeaderText="Hapus rekod" Width="auto" CloseOnOutsideClick="false">
        <BodyContentTemplate>
            <b>@strSelected</b> --> adalah rekod yang dipilih untuk dihapuskan.
            <br />Anda pasti untuk menghapuskan rekod ini?
            <br /><br />
            <div class="confirm-dialog-buttons">
                <DxButton Text="Ya" RenderStyle="ButtonRenderStyle.Primary" Click="@OnYesButtonClick" />
                <DxButton Text="Tidak" RenderStyle="ButtonRenderStyle.Secondary" Click="@OnNoButtonClick" />
            </div>
        </BodyContentTemplate>
    </DxPopup>
</div>

@code {
    [Inject] IToastNotificationService ToastService { get; set; }
    private List<department_info> _lstDepartment = new List<department_info>();

    IGrid Grid { get; set; }
    int GridPageIndex { get; set; } = 0;
    string GridSearchText = "";

    bool ConfirmationShown { get; set; } = false;
    string strSelected { get; set; }
    int intSelected { get; set; }
    department_info dtData { get; set; }

    GridColumnResizeMode ColumnResizeMode { get; set; } = GridColumnResizeMode.ColumnsContainer;
    TaskCompletionSource<bool> DataLoadedTcs { get; } = new(TaskCreationOptions.RunContinuationsAsynchronously);

    protected override async Task OnInitializedAsync()
    {
        _lstDepartment = await _department.GetDepartmentAsync();
        DataLoadedTcs.TrySetResult(true);
        try
        {
            _lstDepartment = await _department.GetAllDepartment();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error loading actions: {ex.Message}");
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await DataLoadedTcs.Task;
            await Grid.CancelEditAsync();
        }
    }
    void ValidateGridData(ValidationMessageStoreEventArgs e)
    {
        var _data = (department_info)e.EditModel;

        if (_data.dept_status == null || _data.dept_status.Trim() == "")
        {
            e.AddError(nameof(_data.dept_status), "Status Jabatan tidak dipilih. Medan perlu diisi.");
        }

        if (_data.dept_code == null || _data.dept_code.Trim() == "")
        {
            e.AddError(nameof(_data.dept_code), "Kod Jabatan tidak sah. Medan perlu diisi.");
        }

        if (_data.dept_name == null || _data.dept_name == "")
        {
            e.AddError(nameof(_data.dept_name), "Nama Jabatan tidak sah. Medan perlu diisi.");
        }

        if (_data.dept_description == null || _data.dept_description == "")
        {
            e.AddError(nameof(_data.dept_description), "Catatan Jabatan tidak sah. Medan perlu diisi.");
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        bool blnSuccess = false;
        var editModel = e.EditModel as department_info;
        var itmId = editModel.dept_id;
        try
        {
            if (e.IsNew)
            {
                var jsonString = JsonConvert.SerializeObject(editModel);
                await _department.PostDepartment(jsonString);
                blnSuccess = true;
            }
            else
            {
                var existingDept = await _department.GetIdDepartment(itmId);
                await _department.PutDepartment(itmId, existingDept);
                blnSuccess = true;
            }


            if (blnSuccess)
            {
                await UpdateDataAsync();
                // toastService.ShowInfo("Proses kemaskini selesai.");
                ToastService.ShowToast(new ToastOptions()
                    {
                        ProviderName = "Overview",
                        ThemeMode = ToastThemeMode.Saturated,
                        RenderStyle = ToastRenderStyle.Success,
                        Title = "Proses kemaskini selesai."
                    });
            }
            else
            {
                // toastService.ShowError("Ralat telah berlaku! Sila hubungi pentadbir sistem.");
                ToastService.ShowToast(new ToastOptions()
                    {
                        ProviderName = "Overview",
                        ThemeMode = ToastThemeMode.Saturated,
                        RenderStyle = ToastRenderStyle.Danger,
                        Title = "Ralat telah berlaku! Sila hubungi pentadbir sistem."
                    });
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"An error occurred while saving the edit model: {ex.Message}");
        }
    }
    async Task UpdateDataAsync()
    {
        _lstDepartment = await _department.RefreshListDepartment();
    }

    public void Dispose()
    {
        DataLoadedTcs.TrySetCanceled();
    }

    async Task Delete(department_info item)
    {
        strSelected = item.dept_code;
        intSelected = item.dept_id;
        dtData = item;
        ConfirmationShown = true;
    }

    async void OnYesButtonClick()
    {
        if (dtData != null)
        {
            var deleteResult = await _department.DeleteDepartment(dtData.dept_id);
            await UpdateDataAsync();
        }
        ConfirmationShown = false;
        // toastService.ShowInfo("Proses hapus selesai.");
        ToastService.ShowToast(new ToastOptions()
            {
                ProviderName = "Overview",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = ToastRenderStyle.Success,
                Title = "Proses hapus selesai."
            });
    }

    void OnNoButtonClick()
    {
        ConfirmationShown = false;
    }

    void Grid_CustomizeSummaryDisplayText(GridCustomizeSummaryDisplayTextEventArgs e)
    {
        if (e.Item.Name == "Custom")
            e.DisplayText = string.Format("Bil. : {0}", e.Value);
    }

    public MarkupString GetStatusDepartmentIconHtml(string status)
    {
        string priorytyClass = "";
        string title = "";

        if (status == "Aktif")
        {
            priorytyClass = "info";
            title = " AKTIF ";
        }
        else if (status == "Tidak Aktif")
        {
            priorytyClass = "danger";
            title = " TIDAK AKTIF ";
        }

        string html = string.Format("<span class='badge priority-{0} py-1 px-2' title='{1}'>{1}</span>", priorytyClass,
        title);
        return new MarkupString(html);
    }
    public MarkupString CombineText(string strStatus, string strNama)
    {
        string html = string.Format("{0} <br/> {1}", strStatus, strNama.ToUpper());
        return new MarkupString(html);
    }
    private List<string> DeptStatusOptions = new List<string>
    {
        "Aktif",
        "Tidak Aktif"
    };
}
