@page "/SenaraiFaq"
@attribute [AllowAnonymous]

@using System.Globalization
@implements IDisposable
@using Blazored.Toast.Services
@using Newtonsoft.Json
@using System.ComponentModel
@using PBTPro.DAL.Models;
@using PBT.Data
@inject NavigationManager NavigationManager
@inject FaqService _faq
@inject IToastService toastService

<div class="d-lg-flex border-bottom mb-2">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="/images/icons/information.png" />
        <div class="textTitle">Soalan Lazim - Senarai Soalan Lazim</div>
    </div>
</div>

<style>
    .dxbl-grid {
        height: 79vh;
        max-height: 79vh;
    }
</style>

<hr style="background-color:transparent; padding:0.5em 0;margin:auto;" />
<div class="item-container-x">
    <DxGrid @ref="Grid"
            Data="@_lstFaqs"
            KeyFieldName="FaqId"
            ShowGroupPanel="true"
            ShowFilterRow="true"
            CustomizeSummaryDisplayText="Grid_CustomizeSummaryDisplayText"
            EditorRenderMode="GridEditorRenderMode.Integrated"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            PageSize="25"
            @bind-PageIndex="@GridPageIndex"
            PagerPosition="GridPagerPosition.Bottom"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            EditModelSaving="Grid_EditModelSaving"
            EditFormButtonsVisible="false"
            PageSizeSelectorVisible="true"
            PageSizeSelectorItems="@(new int[] { 25, 50, 100 })"
            PageSizeSelectorAllRowsItemVisible="true"
            PagerAutoHideNavButtons="false"
            ColumnResizeMode="@ColumnResizeMode"
            HighlightRowOnHover="true"
            CssClass="mv-1000">

        <Columns>

            <DxGridCommandColumn EditButtonVisible="true" DeleteButtonVisible="true" NewButtonVisible="true" Width="120px">
                <HeaderTemplate>
                    <a @onclick="@(() => Grid.StartEditNewRowAsync())" style="text-decoration: none;" href="javascript:void(0);"><img src="images/icons/plus-circle.png" /></a>
                </HeaderTemplate>
                <CellDisplayTemplate>
                    <a @onclick="@(() => Grid.StartEditRowAsync(context.VisibleIndex))" style="text-decoration: none; padding-right:5px;" href="javascript:void(0);"><img src="images/icons-small/table--pencil.png" /></a>
                    <a @onclick="@(() => Delete((faq_info)context.DataItem))" style="text-decoration: none;padding-right:5px;" href="javascript:void(0);"><img src="images/icons-small/cross-circle-frame.png" /></a>
                </CellDisplayTemplate>
            </DxGridCommandColumn>


            <DxGridDataColumn FieldName="@nameof(faq_info.faq_category)" Caption="Kategori" Width="20%" TextAlignment="GridTextAlignment.Left" AllowGroup="false" />
            <DxGridDataColumn FieldName="@nameof(faq_info.faq_question)" Caption="Soalan" Width="40%" TextAlignment="GridTextAlignment.Left" AllowGroup="false" />
            <DxGridDataColumn FieldName="@nameof(faq_info.faq_answer)" Caption="Jawapan" Width="40%" TextAlignment="GridTextAlignment.Left" AllowGroup="false" />
            <DxGridDataColumn FieldName="@nameof(faq_info.faq_status)" Caption="Status Aktif" Width="40%" TextAlignment="GridTextAlignment.Center" AllowGroup="false">
                <CellDisplayTemplate>
                    <div>@GetStatusFAQIconHtml(((faq_info)context.DataItem).faq_status)</div>
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName=@nameof(faq_info.created_date)
                              DisplayFormat="dd/MM/yyyy"
                              Caption="Tarikh Cipta"
                              MinWidth="120"
                              Width="12%"
                              TextAlignment="GridTextAlignment.Center"
                              SortOrder="GridColumnSortOrder.Ascending"
                              SortIndex="0" />
        </Columns>

        <EditFormTemplate Context="editFormContext">
            @{
                var dtData = (faq_info)editFormContext.EditModel;
            }
            <DxFormLayout CssClass="w-100">



                <DxFormLayoutItem ColSpanMd="3" BeginRow="true">
                    <table>

                        <tr>
                            <td nowrap>Status Paparan</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td width="50%" colspan="7">
                                <DxComboBox Data="@faqStatusOptions"
                                            ShowValidationIcon="true"
                                            NullText="Pilih Status..."
                                            @bind-Value="@dtData.faq_status"
                                            @bind-Text="@dtData.faq_status">
                                </DxComboBox>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap>Kategori Soalan Lazim</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td width="50%" colspan="7">
                                <DxTextBox @bind-Text="@dtData.faq_category"
                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                           BindValueMode="BindValueMode.OnInput"
                                           NullText="Kategori Soalan Lazim..."
                                           Maxlength="120"
                                           ShowValidationIcon="true"
                                           CssClass="cw-320" style="width:370px;" />
                            </td>
                        </tr>
                        <tr>
                            <td nowrap valign="top">Soalan</td>
                            <td valign="top">&nbsp;:&nbsp;</td>
                            <td width="50%" colspan="7">
                                <DxMemo @bind-Text="@dtData.faq_question"
                                        CssClass="cw-480"
                                        Rows="3" />
                            </td>
                        </tr>
                        <tr>
                            <td nowrap valign="top">Jawapan</td>
                            <td valign="top">&nbsp;:&nbsp;</td>
                            <td width="50%" colspan="7">
                                <DxMemo @bind-Text="@dtData.faq_answer"
                                        CssClass="cw-480"
                                        Rows="3" />
                            </td>
                        </tr>
                        <tr style="height:10px;"><td colspan="7"></td></tr>
                        <tr style="height:1px;background-color:#ccc;"><td colspan="7"></td></tr>
                        <tr style="height:10px;"><td colspan="7"></td></tr>

                    </table>
                </DxFormLayoutItem>

                <DxFormLayoutItem ColSpanMd="12"><hr style="padding:0;margin:0;" /></DxFormLayoutItem>
                <DxFormLayoutItem ColSpanMd="12">
                    <DxButton SubmitFormOnClick="true" Text="Simpan" />
                    <DxButton Click="@(() => Grid.CancelEditAsync())" Text="Batal" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>
        <CustomValidators>
            <MyCustomValidator DataItemValidating="ValidateGridData" />
        </CustomValidators>
    </DxGrid>


    <DxPopup @bind-Visible="@ConfirmationShown" HeaderText="Hapus rekod" Width="auto" CloseOnOutsideClick="false">
        <BodyContentTemplate>
            <b>@strSelected</b> --> adalah rekod yang dipilih untuk dihapuskan.
            <br />Anda pasti untuk menghapuskan rekod ini?
            <br /><br />
            <div class="confirm-dialog-buttons">
                <DxButton Text="Ya" RenderStyle="ButtonRenderStyle.Primary" Click="@OnYesButtonClick" />
                <DxButton Text="Tidak" RenderStyle="ButtonRenderStyle.Secondary" Click="@OnNoButtonClick" />
            </div>
        </BodyContentTemplate>
    </DxPopup>
</div>
@code {

    private List<faq_info> _lstFaqs = new List<faq_info>();

    IGrid Grid { get; set; }
    int GridPageIndex { get; set; } = 0;
    string GridSearchText = "";

    bool ConfirmationShown { get; set; } = false;
    string strSelected { get; set; }
    int intSelected { get; set; }
    faq_info dtData { get; set; }

    GridColumnResizeMode ColumnResizeMode { get; set; } = GridColumnResizeMode.ColumnsContainer;
    TaskCompletionSource<bool> DataLoadedTcs { get; } = new(TaskCreationOptions.RunContinuationsAsynchronously);

    protected override async Task OnInitializedAsync()
    {
        _lstFaqs = await _faq.GetFAQAsync();
        DataLoadedTcs.TrySetResult(true);
        try
        {
            _lstFaqs = await _faq.GetAllFaq();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error loading actions: {ex.Message}");
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await DataLoadedTcs.Task;
            await Grid.CancelEditAsync();
        }
    }
    void ValidateGridData(ValidationMessageStoreEventArgs e)
    {
        var _data = (faq_info)e.EditModel;

        if (_data.faq_category == null || _data.faq_category.Trim() == "")
        {
            e.AddError(nameof(_data.faq_category), "Kategori soalan lazim tidak sah. Medan perlu diisi.");
        }

        if (_data.faq_question == null || _data.faq_question == "")
        {
            e.AddError(nameof(_data.faq_question), "Soalan lazim tidak sah. Medan perlu diisi.");
        }

        if (_data.faq_answer == null || _data.faq_answer == "")
        {
            e.AddError(nameof(_data.faq_answer), "Jawapan soalan lazim tidak sah. Medan perlu diisi.");
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        bool blnSuccess = false;
        var editModel = e.EditModel as faq_info;
        var itmId = editModel.faq_id;
        try
        {
            if (e.IsNew)
            {
                var jsonString = JsonConvert.SerializeObject(editModel);
                await _faq.PostFaq(jsonString);
                blnSuccess = true;
            }
            else
            {
                var existingFaq = await _faq.GetIdFaq(itmId);
                await _faq.PutFaq(itmId, existingFaq);
                blnSuccess = true;
            }
            if (blnSuccess)
            {
                await UpdateDataAsync();
                toastService.ShowInfo("Proses kemaskini selesai.");
            }
            else
            {
                toastService.ShowError("Ralat telah berlaku! Sila hubungi pentadbir sistem.");
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"An error occurred while saving the edit model: {ex.Message}");
        }
    }
    async Task UpdateDataAsync()
    {
        _lstFaqs = await _faq.RefreshListFaq();
    }

    public void Dispose()
    {
        DataLoadedTcs.TrySetCanceled();
    }

    async Task Delete(faq_info item)
    {
        strSelected = item.faq_question;
        intSelected = item.faq_id;
        dtData = item;
        ConfirmationShown = true;
    }

    async void OnYesButtonClick()
    {
        if (dtData != null)
        {
            var deleteResult = await _faq.DeleteFaq(dtData.faq_id);
            await UpdateDataAsync();
        }
        ConfirmationShown = false;
        toastService.ShowInfo("Proses hapus selesai.");
    }

    void OnNoButtonClick()
    {
        ConfirmationShown = false;
    }

    void Grid_CustomizeSummaryDisplayText(GridCustomizeSummaryDisplayTextEventArgs e)
    {
        if (e.Item.Name == "Custom")
            e.DisplayText = string.Format("Bil. : {0}", e.Value);
    }

    public MarkupString GetStatusFAQIconHtml(string status)
    {
        string priorytyClass = "";
        string title = "";

        if (status == "Aktif")
        {
            priorytyClass = "info";
            title = " AKTIF ";
        }
        else if (status == "Tidak Aktif")
        {
            priorytyClass = "danger";
            title = " TIDAK AKTIF ";
        }

        string html = string.Format("<span class='badge priority-{0} py-1 px-2' title='{1}'>{1}</span>", priorytyClass,
        title);
        return new MarkupString(html);
    }
    public MarkupString CombineText(string strStatus, string strNama)
    {
        string html = string.Format("{0} <br/> {1}", strStatus, strNama.ToUpper());
        return new MarkupString(html);
    }
    private List<string> faqStatusOptions = new List<string>
    {
        "Aktif",
        "Tidak Aktif"
    };
}
