@*
Project: PBT Pro
Description: Page of Soalan Lazim
Author: Farhana
Date: November 2024
Version: 1.0


Changes Logs:
14/11/2024 - initial create
10/01/2025 - fix ui based on standard and allow anonymous

*@

@page "/faq"
@attribute [AllowAnonymous]

@implements IDisposable

@using System.Globalization
@using Blazored.Toast.Services
@using Newtonsoft.Json
@using System.ComponentModel

@using PBTPro.DAL.Models;
@using PBTPro.DAL.Services
@using PBTPro.Data
@using PBTPro.DAL.Models.CommonServices
@using PBTPro.DAL.Models.PayLoads

@inject FaqService _faq
@inject NavigationManager NavigationManager
@inject PBTAuthStateProvider _PBTAuthStateProvider
@inject IToastNotificationService ToastService

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Capaian Data...">

<div class="d-lg-flex border-bottom">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="lib/remixicon/png/question-answer-line.png" />
        <div class="textTitle">Soalan Lazim</div>
    </div>
</div>

<hr style="background-color:transparent; padding:0.1em 0;margin:auto;" />
<div class="item-container-x">
    <DxFormLayout>
            <DxFormLayoutTabPages @bind-ActiveTabIndex="@ActiveTabIndex">
            @{
                @if (DataSource != null && DataSource.Any())
                {
                    var groupedItems = DataSource.GroupBy(item => item.faq_category);
                    foreach (var group in groupedItems)
                    {
                        var combine = @group.Key + " (" + @group.Count() + ")";
                        <DxFormLayoutTabPage Caption="@combine" ColSpanMd="12" ColSpanLg="12">
                            <DxAccordion ExpandMode="ExpandMode"
                                ExpandCollapseAction="ExpandCollapseAction"
                                AnimationType="LayoutAnimationType.Slide" style="width:100%;">
                                <Items>
                                    @foreach (var item in group)
                                    {
                                        <DxAccordionItem Text=@($"{item.faq_question}") Expanded="@(group.First() == item)">
                                            <ContentTemplate> 
                                                <div class="py-3 px-3" tabindex="0">
                                                    <FaqDetailPage FaqInfo="@item" />
                                                </div>
                                            </ContentTemplate>
                                        </DxAccordionItem>
                                    }
                                </Items>
                            </DxAccordion>
                        </DxFormLayoutTabPage>
                    }
                }
            }
        </DxFormLayoutTabPages>
    </DxFormLayout>
</div>
</DxLoadingPanel>

@code {
    bool PanelVisible { get; set; }

    TaskCompletionSource<bool> DataLoadedTcs { get; } = new(TaskCreationOptions.RunContinuationsAsynchronously);
    IEnumerable<ref_faq> DataSource;
    public List<(ref_faq, int)> Items { get; set; } = new List<(ref_faq, int)>();
    int ActiveTabIndex { get; set; } = 1;
    AccordionExpandMode ExpandMode { get; set; } = AccordionExpandMode.SingleOrNone;
    AccordionExpandCollapseAction ExpandCollapseAction { get; set; } = AccordionExpandCollapseAction.HeaderClick;

    public void Dispose()
    {
        DataLoadedTcs.TrySetCanceled();
    }

    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        try
        {
            DataSource = await _faq.ListAll();

            if (DataSource != null && DataSource.Any())
            {
                Items = DataSource.Select((item, index) => (item, index)).ToList();
            }
            else
            {
                Items = new List<(ref_faq, int)>();
            }

        }
        catch (Exception ex)
        {
            PanelVisible = false;
            Console.Error.WriteLine($"Error loading actions: {ex.Message}");
        }
        DataLoadedTcs.TrySetResult(true);
        await base.OnInitializedAsync();
        PanelVisible = false;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await DataLoadedTcs.Task;
        }
    }
}
