@page "/login"
@attribute [AllowAnonymous]
@using PBTPro.DAL.Services
@using PBTPro.Data
@using PBTPro.DAL.Models.CommonServices
@inject PBTAuthStateProvider PBTAuthStateProvider
@inject NavigationManager NavigationManager
@inject IToastNotificationService ToastService

<div class="item-container-x">
@*     <EditForm Model="@LoginModel" OnValidSubmit="@HandleValidSubmit" Context="EditFormContext">
        <DataAnnotationsValidator />
        <DxFormLayout>
            <DxFormLayoutItem Caption="Nama Pengguna:" ColSpanMd="12">
                <DxTextBox @bind-Text="@LoginModel.Username"
                            NullText="Nama Pengguna ..."
                            ShowValidationIcon="true"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="Kata Laluan:" ColSpanMd="12">
                <DxTextBox @bind-Text="@LoginModel.Password"
                            NullText="Kata Laluan ..."
                            ShowValidationIcon="true" 
                            Password="true" 
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
            </DxFormLayoutItem>

            <DxFormLayoutItem ColSpanMd="12">
                <DxButton CssClass="w-100" Text="Log Masuk" style="height:40px;border-radius: 3px; border-color:transparent;background-color:green"
                            RenderStyle="ButtonRenderStyle.Primary"
                            Enabled="true"
                            SubmitFormOnClick="true">
                </DxButton>
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditForm> *@


    <div class="gridlayout-content gridlayout-item align-content-center" CssClass="w-100 ch-480">
        @*Content*@

        <div class="loginPBTPro mt-3" style="border:solid 1px #999;border-radius: 5px;box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);">
            <div class="text-center py-4">
                <p class="tm-8 mb-0 fw-normal fs-825 text-uppercase" style="letter-spacing:0.09em;">
                    <b>Selamat Datang</b><br />
                </p>
                <img src="images/mdk.jpeg" class="loginImej" />

                <p class="tm-8 mb-0 fw-normal fs-825 text-uppercase" style="letter-spacing:0.09em;">
                    <b>Majlis Bandaraya</b><br />
                    <b>Diraja Klang</b>
                </p>
            </div>
            <div class="card-body">
                <EditForm Model="@LoginModel" OnValidSubmit="@HandleValidSubmit" Context="EditFormContext">
                    <DataAnnotationsValidator />
                    <DxFormLayout>
                        <DxFormLayoutItem ColSpanMd="12">
                            <DxTextBox @bind-Text="@LoginModel.Username"
                                       NullText="Masukkan ID pengguna anda"
                                       BindValueMode="BindValueMode.OnInput"
                                       ShowValidationIcon="true"
                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                        </DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="12">
                            <div class="password-container" style="width:100% !important">
                                <DxTextBox @bind-Text="@LoginModel.Password"
                                           NullText="Masukkan kata laluan anda"
                                           BindValueMode="BindValueMode.OnInput"
                                           type="@inputType"
                                           Password="@showPassword"
                                           ShowValidationIcon="true"
                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" style="width:100%;padding-right:25px;" />

                                <input id="dummyPwd" type="@inputType" style="visibility:@inputVisible; width:50%" @oninput="BindValue" @bind="LoginModel.Password" placeholder="" />
                                <button id="dummybtn" @onclick="TogglePasswordVisibility">
                                    <i class="@eyeIconClass"></i>
                                </button>
                            </div>

                        </DxFormLayoutItem>                       


                        <DxFormLayoutItem ColSpanMd="12">
                            <DxButton CssClass="w-100 btn-edit-grid" Text="Log Masuk"
                                      RenderStyle="ButtonRenderStyle.Primary"
                                      Enabled="true"
                                      SubmitFormOnClick="true">
                            </DxButton>
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </EditForm>
            </div>
            <div class="text-center py-3">
                <p class="tm-8 fw-normal fs-825 text-uppercase" style="letter-spacing:0.05em;font-size:0.85rem;">
                    <a href="/forget_password" class="text-decoration-none text-black fw-bold">Lupa kata laluan ?</a>
                </p>
            </div>
        </div>

    </div>

</div>
}

@code {
    public LoginModel LoginModel = new LoginModel();

    private string password;
    private bool showPassword;

    public string inputVisible = "hidden";
    public bool blnNotSubmit = false;
    private string inputType => showPassword ? "text" : "password";
    string passwoxrd="";
    private string eyeIconClass => showPassword ? "ri-eye-line" : "ri-eye-close-line";

    private void BindValue()
    {
        // blnNotSubmit = true;
        string Pwd = LoginModel.Password;
        LoginModel.Password = Pwd;
    }

    private void TogglePasswordVisibility()
    {
        blnNotSubmit = true;
        showPassword = !showPassword;
        inputVisible = showPassword ? "visible" : "hidden";
    }
   
    string FormSubmitResult = "";
    public async Task HandleValidSubmit()
    {
        //TogglePasswordVisibility cause Handle submit to be trigger, this code is to prevent the submission process
        if (blnNotSubmit)
        {
            blnNotSubmit = false;
            return;
        }

        ReturnViewModel response = new ReturnViewModel();

        if (LoginModel.Username.ToLower() != "administrator")
        {
            if ((LoginModel.Username.ToString().Length != 12) || (!LoginModel.Username.All(char.IsDigit)))
            {
                response.ReturnCode = 500;
                response.ReturnMessage = "Format Id pengguna tidak sah. Sila masukkan nombor kad pengenalan 12 digit yang sah.";
            }
            else
            {
                response = await PBTAuthStateProvider.LoginAsync(LoginModel.Username, LoginModel.Password);
            }
        }
        else
            response = await PBTAuthStateProvider.LoginAsync(LoginModel.Username, LoginModel.Password);

        if (response.ReturnCode == 200)
        {
            if (string.IsNullOrWhiteSpace(PBTAuthStateProvider.CurrentUser.DefaultPage))
            {
                if (PBTAuthStateProvider.CurrentUser.Roles.Contains("pengguna"))
                {
                    NavigationManager.NavigateTo("/", true);
                }
                else
                {
                    NavigationManager.NavigateTo("zon_eksekutif", true);
                }
            }
            else
            {
                NavigationManager.NavigateTo(PBTAuthStateProvider.CurrentUser.DefaultPage!, true);
            }
        }
        else
        {
            HandleResponse(response.ReturnMessage, "Error");
        }
    }


    private void HandleResponse(string message, string? status = "Success")
    {
        var RenderStyle = ToastRenderStyle.Success;

        if (status == "Error")
        {
            RenderStyle = ToastRenderStyle.Danger;
        }
        else if (status == "Info")
        {
            RenderStyle = ToastRenderStyle.Info;
        }
        else if (status == "Warning")
        {
            RenderStyle = ToastRenderStyle.Warning;
        }

        ToastService.ShowToast(new ToastOptions()
            {
                ProviderName = "Overview",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = RenderStyle,
                Title = message
            });
    }

}