@page "/premishistory"
@attribute [Authorize]

@implements IDisposable

@using PBTPro
@using PBTPro.Shared
@using PBTPro.Data
@using PBTPro.DAL
@using PBTPro.DAL.Models
@using PBTPro.DAL.Services
@using PBTPro.DAL.Models.CommonServices
@using DevExpress.Blazor
@using PBTPro.DAL.Models.PayLoads

@inject LicenseService _LicenseService
@inject PremisService _PremisService
@inject NavigationManager NavigationManager
@inject PBTAuthStateProvider _PBTAuthStateProvider
@inject IToastNotificationService ToastService
@inject PBTAuthPermissionService PermissionService
@inject PBTAuthPermissionService PermissionService

<style>
    .dxbl-grid {
        height: 82.5vh;
        max-height: 82.5vh;
    }
</style>
@* @if (!PermissionService.HasPermission("View"))
{
    NavigationManager.NavigateTo("/no-permission");
}
else
{ *@
    <DxLoadingPanel @bind-Visible="PanelVisible"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Capaian Data...">

        <div class="d-lg-flex border-bottom">
            <div class="col-md-12 py-1 dx-helptitle pageTitle">
                <img class="imgTitle" src="/images/icons-small/table-heatmap.png" />
                <div class="textTitle">Premis/Perniagaan - Senarai Sejarah Premis/Perniagaan</div>
            </div>
        </div>

        <div class="item-container-x" style="padding-top:2px;">
            <DxTabs ActiveTabIndex="@ActiveTabIndex" ActiveTabIndexChanged="@OnActiveTabIndexChanged" TabsPosition="TabsPosition.Top" RenderMode="TabsRenderMode.Default">
                @{
                    <DxTab Text="Premis"></DxTab>
                    <DxTab Text="Lesen"></DxTab>
                }
            </DxTabs>

            <DxGrid @ref="Grid"
                    Data="dtSource"
                    KeyFieldName="gid"
                    ShowGroupPanel="true"
                    ShowFilterRow="false"
                    TextWrapEnabled="true"
                    EditorRenderMode="GridEditorRenderMode.Integrated"
                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                    ShowSearchBox="true"
                    AllowSelectRowByClick="true"
                    @bind-SearchText="@GridSearchText"
                    PageSize="25"
                    @bind-PageIndex="@GridPageIndex"
                    PagerPosition="GridPagerPosition.Bottom"
                    PagerNavigationMode="PagerNavigationMode.InputBox"
                    EditModelSaving="Grid_EditModelSaving"
                    EditFormButtonsVisible="false"
                    PageSizeSelectorVisible="true"
                    PageSizeSelectorItems="@(new int[] { 25, 50, 100 })"
                    PageSizeSelectorAllRowsItemVisible="true"
                    PagerAutoHideNavButtons="false"
                    ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                    GroupFooterDisplayMode="GridGroupFooterDisplayMode.Auto"
                    HighlightRowOnHover="true"
                    CssClass="mv-1000">

                <Columns>
                    @if (formType == "Premis")
                    {
                        <DxGridCommandColumn Width="55px">
                            <HeaderTemplate>
                                @if (PermissionService.HasPermission("Edit"))
                                {
                                    <a @onclick="@(() => Grid.StartEditNewRowAsync())" style="text-decoration: none; display:none;" href="javascript:void(0);"><img src="images/icons/plus-circle.png" /></a>
                                }
                            </HeaderTemplate>
                            <CellDisplayTemplate>
                                @if (PermissionService.HasPermission("Edit"))
                                {
                                    <a @onclick="@(() => Grid.StartEditRowAsync(context.VisibleIndex))" style="text-decoration: none; padding:0px 2px;" href="javascript:void(0);"><img src="images/icons-small/table--pencil.png" /></a>
                                }
                            </CellDisplayTemplate>
                        </DxGridCommandColumn>
                        <DxGridDataColumn Caption="No Lesen" MinWidth="100" Width="20%" FieldName="no_lesen_premis" TextAlignment="GridTextAlignment.Left">
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="Tempoh Sah Lesen" MinWidth="100" Width="20%" FieldName="tempoh_sah_lesen" TextAlignment="GridTextAlignment.Left">
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="Tempoh Sah Cukai" MinWidth="100" Width="20%" FieldName="tempoh_sah_cukai" TextAlignment="GridTextAlignment.Left">
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="Lot" MinWidth="200" Width="30%" FieldName="lot" TextAlignment="GridTextAlignment.Left" AllowGroup="false">
                        </DxGridDataColumn>

                    }
                    else
                    {
                        <DxGridCommandColumn Width="55px">
                            <HeaderTemplate>
                                <a @onclick="@(() => Grid.StartEditNewRowAsync())" style="text-decoration: none; display:none;" href="javascript:void(0);"><img src="images/icons/plus-circle.png" /></a>
                            </HeaderTemplate>
                            <CellDisplayTemplate>
                                <a @onclick="@(() => Grid.StartEditRowAsync(context.VisibleIndex))" style="text-decoration: none; padding:0px 2px;" href="javascript:void(0);"><img src="images/icons-small/table--pencil.png" /></a>
                            </CellDisplayTemplate>
                        </DxGridCommandColumn>
                        <DxGridDataColumn Caption="No Akaun Lesen" MinWidth="100" Width="11%" FieldName="no_acc_lesen" TextAlignment="GridTextAlignment.Left">
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="Nama Pemilik" MinWidth="100" Width="15%" FieldName="nama_pemilik" TextAlignment="GridTextAlignment.Left">
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="Nama Perniagaan" MinWidth="100" Width="20%" FieldName="nama_perniagaan" TextAlignment="GridTextAlignment.Left">
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="Alamat" MinWidth="200" Width="21%" FieldName="alamat_premis" TextAlignment="GridTextAlignment.Left" AllowGroup="false">
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="Status Lesen" MinWidth="200" Width="10%" FieldName="status_lesen_perniagaan" TextAlignment="GridTextAlignment.Center" AllowGroup="false">
                            <CellDisplayTemplate>
                                <div>@GetStatusLesenIconHtml(((premis_history_view)context.DataItem).status_lesen_perniagaan)</div>
                            </CellDisplayTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn FieldName="CreatedAt"
                                          Caption="Tarikh Data" TextAlignment="GridTextAlignment.Center"
                                          MinWidth="120" Width="10%"
                                          AllowGroup="false" AllowSort="true"
                                          SortOrder="GridColumnSortOrder.Descending"
                                          DisplayFormat="dd/MM/yyyy" />

                    }
                </Columns>

                <EditFormTemplate Context="EditFormContext">
                    @{
                        var dtData = (premis_history_view)EditFormContext.EditModel;
                    }
                    <DxFormLayout CssClass="w-100">
                        @if (formType == "Premis")
                        {
                            <DxFormLayoutItem ColSpanMd="6" BeginRow="true">
                                <div class="d-lg-flex border-bottom mb-4">
                                    <div class="col-md-12 py-1">
                                        <img class="imgTitle" src="/images/icons-small/lock.png" />
                                        <div class="textTitle">MAKLUMAT PREMIS</div>
                                    </div>
                                </div>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="12">
                                <div class="align-items-center align-content-center">
                                    <img class="profile-photo" src="@dtData.gambar_premis" />
                                </div>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="6">
                                <div>Nama Pemilik</div>
                                <DxTextBox @bind-Text="@dtData.nama_pemilik"
                                           NullText="Nama Pemilik ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="6">
                                <div>No Kad Pengenalan</div>
                                <DxTextBox @bind-Text="@dtData.no_ic_pemilik"
                                           NullText="No Kad Pengenalan Pemilik ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="12">
                                <div>Alamat Premis</div>
                                <DxTextBox @bind-Text="@dtData.alamat_premis"
                                           NullText="Alamat Premis ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            @* <DxFormLayoutItem ColSpanMd="4">
                            @{
                                string ssm_no = (!string.IsNullOrEmpty(dtData.ssm_no) ? dtData.ssm_no : "-");
                            }
                            <div>No SSM</div>
                            <DxTextBox @bind-Text="@ssm_no"
                                       NullText="No. SSM ..."
                                       BindValueMode="BindValueMode.OnInput"
                                       CssClass="cw-480"
                                       Enabled="false" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="4">
                            @{
                                string tax_acc_no = (!string.IsNullOrEmpty(dtData.tax_acc_no) ? dtData.tax_acc_no : "-");
                            }
                            <div>No Akaun Cukai</div>
                            <DxTextBox @bind-Text="@tax_acc_no"
                                       NullText="No. Akuan Cukai ..."
                                       BindValueMode="BindValueMode.OnInput"
                                       CssClass="cw-480"
                                       Enabled="false" />
                        </DxFormLayoutItem> *@
                            <DxFormLayoutItem ColSpanMd="4">
                                @{
                                    string tempohSahLesen = dtData.tempoh_sah_lesen.HasValue
                                    ? dtData.tempoh_sah_lesen.Value.ToString("dd/MM/yyyy")
                                    : "-";
                                }
                                <div>Tempoh Sah Lesen</div>
                                <DxTextBox @bind-Text="@tempohSahLesen"
                                           NullText="Tempoh Sah Lesen ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="4">
                                @{
                                    string tempohSahCukai = dtData.tempoh_sah_cukai.HasValue
                                    ? dtData.tempoh_sah_cukai.Value.ToString("dd/MM/yyyy")
                                    : "-";
                                }
                                <div>Tempoh Sah Lesen</div>
                                <DxTextBox @bind-Text="@tempohSahCukai"
                                           NullText="Tempoh Sah Lesen ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            @*  <DxFormLayoutItem ColSpanMd="4">
                            @{
                                string JumlahPerniagaan = Convert.ToString(dtData.jumlah_bisness);
                            }
                            <div>Jumlah Perniagaan</div>
                            <DxTextBox @bind-Text="@JumlahPerniagaan"
                                       NullText="Jumlah Perniagaan ..."
                                       BindValueMode="BindValueMode.OnInput"
                                       CssClass="cw-480"
                                       Enabled="false" />
                        </DxFormLayoutItem>
 *@
                            <DxFormLayoutItem ColSpanMd="6" BeginRow="true">
                                <div class="d-lg-flex border-bottom mb-4">
                                    <div class="col-md-12 py-1">
                                        <img class="imgTitle" src="/images/icons-small/lock.png" />
                                        <div class="textTitle">SENARAI PERNIAGAAN DIBAWAH PREMIS</div>
                                    </div>
                                </div>
                            </DxFormLayoutItem>
                        }
                        else
                        {
                            <DxFormLayoutItem ColSpanMd="12" BeginRow="true">
                                <div class="d-lg-flex border-bottom mb-4">
                                    <div class="col-md-12 py-1">
                                        <img class="imgTitle" src="/images/icons-small/lock.png" />
                                        <div class="textTitle">MAKLUMAT PERNIAGAAN</div>
                                    </div>
                                </div>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="3">
                                <div>Nama Pemilik</div>
                                <DxTextBox @bind-Text="@dtData.nama_pemilik"
                                           NullText="Nama Pemilik ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="3">
                                <div>No Kad Pengenalan</div>
                                <DxTextBox @bind-Text="@dtData.no_ic_pemilik"
                                           NullText="No Kad Pengenalan Pemilik ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="3">
                                <div>No Akaun Lesen</div>
                                <DxTextBox @bind-Text="@dtData.no_acc_lesen"
                                           NullText="No Akaun Lesen ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="3">
                                <div>Nama Perniagaan</div>
                                <DxTextBox @bind-Text="@dtData.nama_perniagaan"
                                           NullText="Nama Perniagaan ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="12">
                                <div>Alamat Premis</div>
                                <DxTextBox @bind-Text="@dtData.alamat_premis"
                                           NullText="Alamat Premis ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="12">
                                <div>Operasi Perniagaan</div>
                                <DxTextBox @bind-Text="@dtData.nama_ops"
                                           NullText="Operasi Perniagaan ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="12">
                                <div>Status Lesen</div>
                                @if (dtData.status_lesen_perniagaan == "Tiada Data")
                                {
                                    <span class='badge priority-warning py-1 px-2' title='@dtData.status_lesen_perniagaan.ToUpper()'>@dtData.status_lesen_perniagaan.ToUpper()</span>
                                }
                                else if (dtData.status_lesen_perniagaan == "Aktif")
                                {
                                    <span class='badge priority-info py-1 px-2' title='@dtData.status_lesen_perniagaan.ToUpper()'>@dtData.status_lesen_perniagaan.ToUpper()</span>
                                }
                                else if (dtData.status_lesen_perniagaan == "Tamat Tempoh")
                                {
                                    <span class='badge priority-danger py-1 px-2' title='@dtData.status_lesen_perniagaan.ToUpper()'>@dtData.status_lesen_perniagaan.ToUpper()</span>
                                }

                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="3">
                                @{
                                    string tarikh_daftar = dtData.tarikh_daftar.HasValue
                                    ? dtData.tarikh_daftar.Value.ToString("dd/MM/yyyy")
                                    : "-";
                                }
                                <div>Tarikh Daftar Perniagaan</div>
                                <DxTextBox @bind-Text="@tarikh_daftar"
                                           NullText="Parlimen ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="3">
                                <div>Parlimen</div>
                                <DxTextBox @bind-Text="@dtData.nama_parlimen"
                                           NullText="Parlimen ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="3">
                                <div>Zon</div>
                                <DxTextBox @bind-Text="@dtData.nama_zon"
                                           NullText="Zon ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="3">
                                <div>Dun</div>
                                <DxTextBox @bind-Text="@dtData.nama_dun"
                                           NullText="Dun ..."
                                           BindValueMode="BindValueMode.OnInput"
                                           CssClass="cw-480"
                                           Enabled="false" />
                            </DxFormLayoutItem>

                        }
                        <DxFormLayoutItem ColSpanMd="12"><hr style="padding:0;margin:0;" /></DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="12">
                            <DxButton Click="@(() => Grid.CancelEditAsync())" class="btn-edit-grid" Text="Tutup" />
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </EditFormTemplate>
            </DxGrid>

        </div>
    </DxLoadingPanel>
//}

@code {

    IEnumerable<premis_history_view> dtSource;

    bool PanelVisible { get; set; }
    IGrid Grid { get; set; }
    int GridPageIndex { get; set; } = 0;
    string GridSearchText = "";

    bool ConfirmationShown { get; set; } = false;
    string strSelected { get; set; }
    int ActiveTabIndex;
    private string formType = "Premis";
    private bool isVisible = false;

    GridColumnResizeMode ColumnResizeMode { get; set; } = GridColumnResizeMode.ColumnsContainer;
    TaskCompletionSource<bool> DataLoadedTcs { get; } = new(TaskCreationOptions.RunContinuationsAsynchronously);

    protected override async Task OnInitializedAsync()
    {
        dtSource = await GetListDataAsync(formType);
        DataLoadedTcs.TrySetResult(true);
        PanelVisible = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await DataLoadedTcs.Task;
            await Grid.CancelEditAsync();
        }
    }

    private async Task OnActiveTabIndexChanged(int index)
    {
        ActiveTabIndex = index;

        switch (ActiveTabIndex)
        {
            case 0:
                formType = "Premis";
                break;
            case 1:
                formType = "Lesen";
                break;
            default:
                formType = "Premis";
                break;
        }

        dtSource = await GetListDataAsync(formType);
        StateHasChanged();
    }

    private async Task<IEnumerable<premis_history_view>> GetListDataAsync(string? formType = "Premis")
    {
        IEnumerable<premis_history_view> result;
        if (formType == "Premis")
        {
            result = await _PremisService.ListByTabType(formType);
        }
        else
        {
            result = await _LicenseService.ListByTabType(formType);
        }
        return result;
    }

    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        ReturnViewModel response = new ReturnViewModel();
        bool blnSuccess = false;
        var editModel = e.EditModel as premis_history_view;
        try
        {
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"An error occurred while saving the edit model: {ex.Message}");
        }
    }

    void Grid_CustomizeSummaryDisplayText(GridCustomizeSummaryDisplayTextEventArgs e)
    {
        if (e.Item.Name == "Custom")
            e.DisplayText = string.Format("Bil. : {0}", e.Value);
    }

    public MarkupString GetStatusLesenIconHtml(string? status)
    {
        string priorytyClass = "";
        string title = "";

        if (status == "Aktif")
        {
            priorytyClass = "info";
            title = " AKTIF ";
        }
        else if (status == "Tamat Tempoh")
        {
            priorytyClass = "danger";
            title = " TAMAT TEMPOH ";
        }
        else if (status == "Gantung")
        {
            priorytyClass = "warning";
            title = " GANTUNG ";
        }
        else if (status == "Tiada Data")
        {
            priorytyClass = "warning";
            title = " TIADA DATA ";
        }

        string html = string.Format("<span class='badge priority-{0} py-1 px-2' title='{1}'>{1}</span>", priorytyClass,
        title);
        return new MarkupString(html);
    }

    public void Dispose()
    {
        DataLoadedTcs.TrySetCanceled();
    }
}
