@page "/reset_password"
@attribute [AllowAnonymous]

@using PBTPro.DAL.Models.PayLoads
@using PBTPro.DAL.Services
@using PBTPro.Data
@using PBTPro.DAL.Models.CommonServices

@inject UserProfileService _UserProfileService
@inject PBTAuthUserService PBTAuthUserService
@inject NavigationManager NavigationManager
@inject IToastNotificationService ToastService

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Capaian Data...">

<div class="d-lg-flex border-bottom">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="/images/icons-small/lock.png" />
        <div class="textTitle">Tukar Kata Laluan</div>
    </div>
</div>

<div class="item-container-x">
    <div class="ProfileBox" style="border:solid 1px #999;border-radius: 5px;box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);">
        <div class="card-body">
            <EditForm Model="@InputModel" OnValidSubmit="@HandleValidSubmit" Context="EditFormContext">
                <DataAnnotationsValidator />
                <DxFormLayout>

                    <DxFormLayoutItem ColSpanMd="6">
                        <div>ID Pengguna</div>
                        <DxTextBox @bind-Text="@InputModel.username"
                                   NullText="ID Pengguna ..."
                                   ShowValidationIcon="true"
                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="6">

                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="6">
                        <div>Kata Laluan</div>
                        <DxTextBox @bind-Text="@InputModel.new_password"
                                    NullText="Kata Laluan ..."
                                    ShowValidationIcon="true" 
                                    Password="true" 
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="6">
                        <div>Sahkan Kata Laluan</div>
                        <DxTextBox @bind-Text="@InputModel.valid_new_password"
                                   NullText="Sahkan Kata Laluan ..."
                                   ShowValidationIcon="true"
                                   Password="true"
                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="12">
                            <ul style="margin-top:-3px;">
                                <li>Min Kata Laluan mestilah 8 atau lebih aksara campuran huruf dan abjad.</li>
                                <li>Mesti mengandungi sekurang-kurangnya 1 huruf kecil dan 1 huruf besar abjad.</li>
                                <li>Mesti mengandungi sekurang-kurangnya 1 digit.</li>
                                <li>Mesti mengandungi sekurang-kurangnya 1 aksara khas. (cth:!#$%^&)</li>
                            </ul>

                        <DxButton CssClass="w-100 normal-btn" Text="Tukar Kata Laluan"
                                    RenderStyle="ButtonRenderStyle.Primary"
                                    Enabled="true"
                                    SubmitFormOnClick="true">
                        </DxButton>
                    </DxFormLayoutItem>
                    <div>&nbsp;<br /></div>
                    <DxFormLayoutItem ColSpanMd="12">
                        <ValidationSummary />
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditForm>
        </div>
    </div>
</div>
</DxLoadingPanel>


@code {
    bool PanelVisible { get; set; }

    DateTime CheckIn { get; set; } = DateTime.Now;
    DateTime CheckOut { get; set; } = DateTime.Now;

    public ResetPasswordInput InputModel = new ResetPasswordInput();
    string FormSubmitResult = "";
    private string testToken = "dummyToken";

    protected override async Task OnInitializedAsync()
    {

        PanelVisible = true;

        InputModel.reset_token = "";
        var uri = NavigationManager.Uri;
        var queryParams = new Uri(uri).Query;

        var queryCollection = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(queryParams);
        if (queryCollection.TryGetValue("token", out var tokenParam))
        {
            InputModel.reset_token = tokenParam.ToString();
        }

        PanelVisible = false;
    }

    public async Task HandleValidSubmit()
    {
        ReturnViewModel response = new ReturnViewModel();

        response = await PBTAuthUserService.ResetPasswordAsync(InputModel);

        if (response.ReturnCode == 200)
        {
            HandleResponse(response.ReturnMessage, "Success");
            NavigationManager.NavigateTo("login", true);
        }
        else
        {
            HandleResponse(response.ReturnMessage, "Error");
        }
    }

    private void HandleResponse(string message, string? status = "Success")
    {
        var RenderStyle = ToastRenderStyle.Success;

        if (status == "Error")
        {
            RenderStyle = ToastRenderStyle.Danger;
        }
        else if (status == "Info")
        {
            RenderStyle = ToastRenderStyle.Info;
        }
        else if (status == "Warning")
        {
            RenderStyle = ToastRenderStyle.Warning;
        }

        ToastService.ShowToast(new ToastOptions()
        {
            ProviderName = "Overview",
            ThemeMode = ToastThemeMode.Saturated,
            RenderStyle = RenderStyle,
            Title = message
        });
    }

}