@page "/reset_password"
@attribute [AllowAnonymous]
@using PBTPro.DAL.Services
@using PBTPro.Data
@using PBTPro.DAL.Models.CommonServices
@inject PBTAuthUserService PBTAuthUserService
@inject NavigationManager NavigationManager
@inject IToastNotificationService ToastService

<div class="d-lg-flex border-bottom">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="/images/icons-small/lock.png" />
        <div class="textTitle">Tukar Kata Laluan</div>
    </div>
</div>

<div class="item-container-x">
    <div class="ProfileBox" style="border:solid 1px #999;border-radius: 5px;box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);">
        <div class="card-body">
            <EditForm Model="@InputModel" OnValidSubmit="@HandleValidSubmit" Context="EditFormContext">
                <DataAnnotationsValidator />
                <DxFormLayout>

                    <DxFormLayoutItem ColSpanMd="2">
                        <div class="align-items-center align-content-center">
                            <img class="profile-photo" src="images/profile/avatar-user-profile-icon.jpg" alt="" />
                        </div>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="10">
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="4">
                        <div>Jabatan</div>
                        <DxTextBox @bind-Text="@str_dept_name"
                                   NullText="Jabatan pengguna ..."
                                   BindValueMode="BindValueMode.OnInput"
                                   CssClass="cw-480"
                                   Enabled="false" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="4">
                        <div>Section</div>
                        <DxTextBox @bind-Text="@str_div_name"
                                   NullText="Seksyen pengguna ..."
                                   BindValueMode="BindValueMode.OnInput"
                                   CssClass="cw-480"
                                   Enabled="false" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="4">
                        <div>Unit</div>
                        <DxTextBox @bind-Text="@str_unit_name"
                                   NullText="Unit pengguna ..."
                                   BindValueMode="BindValueMode.OnInput"
                                   CssClass="cw-480"
                                   Enabled="false" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="4">
                        <div>No Kad Pengenalan</div>
                        <DxTextBox @bind-Text="@str_profile_icno"
                                   NullText="No Kad Pengenalan ..."
                                   BindValueMode="BindValueMode.OnInput"
                                   CssClass="cw-480"
                                   Enabled="false" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="4">
                        <div>No Telefon</div>
                        <DxTextBox @bind-Text="@str_profile_telno"
                                   NullText="No Telefon ..."
                                   BindValueMode="BindValueMode.OnInput"
                                   CssClass="cw-480" style="width:170px"
                                   Enabled="false" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="4"></DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="4">
                        <div>ID Pengguna</div>
                        <DxTextBox NullText="ID Pengguna ..."
                                   @bind-Text="@str_user_name"
                                   BindValueMode="BindValueMode.OnInput"
                                   CssClass="cw-480"
                                   Enabled="false" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="4">
                        <div>Peranan</div>
                        <DxTextBox @bind-Text="@str_profile_role"
                                   NullText="Peranan pengguna ..."
                                   BindValueMode="BindValueMode.OnInput"
                                   CssClass="cw-480"
                                   Enabled="false" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="4"></DxFormLayoutItem>


                    <DxFormLayoutItem ColSpanMd="6">
                        <div>Nama</div>
                        <DxTextBox @bind-Text="@InputModel.username"
                                   NullText="Nama Pengguna ..."
                                   ShowValidationIcon="true"
                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="6">
                        <div>Emel</div>
                        <DxTextBox @bind-Text="@str_profile_email"
                                   NullText="Emel Pengguna ..."
                                   BindValueMode="BindValueMode.OnInput"
                                   CssClass="cw-480"
                                   Enabled="false" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="6">
                        <div>Kata Laluan</div>
                        <DxTextBox @bind-Text="@InputModel.new_password"
                                    NullText="Kata Laluan ..."
                                    ShowValidationIcon="true" 
                                    Password="true" 
                                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="6">
                        <div>Sahkan Kata Laluan</div>
                        <DxTextBox @bind-Text="@InputModel.valid_new_password"
                                   NullText="Sahkan Kata Laluan ..."
                                   ShowValidationIcon="true"
                                   Password="true"
                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="12">
                        <DxButton CssClass="w-100 normal-btn" Text="Tukar Kata Laluan"
                                    RenderStyle="ButtonRenderStyle.Primary"
                                    Enabled="true"
                                    SubmitFormOnClick="true">
                        </DxButton>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditForm>
        </div>
    </div>
</div>
}

@code {

    string str_dept_name { get; set; } = string.Empty;
    string str_div_name { get; set; } = string.Empty;
    string str_unit_name { get; set; } = string.Empty;
    string str_profile_icno { get; set; } = string.Empty;
    string str_profile_telno { get; set; } = string.Empty;
    string str_user_name { get; set; } = string.Empty;
    string str_profile_role { get; set; } = string.Empty;
    string str_profile_name { get; set; } = string.Empty;
    string str_profile_email { get; set; } = string.Empty;

    DateTime CheckIn { get; set; } = DateTime.Now;
    DateTime CheckOut { get; set; } = DateTime.Now;


    public ResetPasswordInput InputModel = new ResetPasswordInput();
    string FormSubmitResult = "";
    private string testToken = "dummyToken";

    protected override void OnInitialized()
    {
        InputModel.reset_token = "";
        var uri = NavigationManager.Uri;
        var queryParams = new Uri(uri).Query;

        var queryCollection = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(queryParams);
        if (queryCollection.TryGetValue("token", out var tokenParam))
        {
            InputModel.reset_token = tokenParam.ToString();
        }
    }

    public async Task HandleValidSubmit()
    {
        ReturnViewModel response = new ReturnViewModel();

        response = await PBTAuthUserService.ResetPasswordAsync(InputModel);

        if (response.ReturnCode == 200)
        {
            HandleResponse(response.ReturnMessage, "Success");
            NavigationManager.NavigateTo("login", true);
        }
        else
        {
            HandleResponse(response.ReturnMessage, "Error");
        }
    }

    private void HandleResponse(string message, string? status = "Success")
    {
        var RenderStyle = ToastRenderStyle.Success;

        if (status == "Error")
        {
            RenderStyle = ToastRenderStyle.Danger;
        }
        else if (status == "Info")
        {
            RenderStyle = ToastRenderStyle.Info;
        }
        else if (status == "Warning")
        {
            RenderStyle = ToastRenderStyle.Warning;
        }

        ToastService.ShowToast(new ToastOptions()
        {
            ProviderName = "Overview",
            ThemeMode = ToastThemeMode.Saturated,
            RenderStyle = RenderStyle,
            Title = message
        });
    }

}