@page "/taburan_cukai"
@attribute [Authorize]

@implements IDisposable
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using PBTPro.DAL.Services
@using PBTPro.Data
@using PBTPro.DAL.Models.PayLoads
@using Components

@inject IJSRuntime JSRuntime

@inject NoticeService _NoticeService
@inject PremisService _PremisService
@inject SearchService _SearchService
@inject ApiConnector _ApiConnector // 07/11/2024 - API Fetcher - ismail
@inject PBTAuthStateProvider _PBTAuthStateProvider

<style>
    .dxbl-grid {
        height: 88vh;
        max-height: 88vh;
    }

    .demo-carousel-container {
        border-radius: 4px;
    }
</style>


@* <GoogleMap @ref="@_map1" Id="map1" Options="@_mapOptions" OnAfterInit="@AfterMapInit"></GoogleMap> *@
<div class="topMapControl">
    <button id="buttonTapis" @onclick="@(() => OpenFilter(0))" class="buttonControlMap" disabled="@(PanelVisible ? true : null)">Tapisan</button>
    <button id="buttonSearch" @onclick="@(() => OpenFilter(1))" class="buttonControlMap" disabled="@(PanelVisible ? true : null)">Carian Premis</button>
    <button @onclick="AddLegend" class="buttonControlMap">Legend</button>
    <input type="text" @ref="this.searchBox" id="searchBox" class="searchMap" placeholder="Masukkan nama tempat untuk dicari..." disabled="@(PanelVisible ? true : null)" />
    @* <button @onclick="Search" class="buttonControlMap">Cari Tempat</button> *@
</div>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Capaian Data...">

    <!-- Filter & Search Premise panel -->
    <div id="mySidenav" class="sidenav">

        <div id="SearchPremisePanel">
            <header class="searchPremis">
                <h1>Carian Premis</h1>
                <a style="cursor:pointer" href="javascript:void(0)" class="closebtnpremis" @onclick="CloseFilter">&times;</a>
            </header>


            <DxGrid @ref="Grid"
                    Data="searchData"
                    KeyFieldName="license_id"
                    ShowGroupPanel="false"
                    VirtualScrollingEnabled=true
                    ShowFilterRow="false"
                    TextWrapEnabled="true"
                    ShowSearchBox="true"
                    EditorRenderMode="GridEditorRenderMode.Integrated"
                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                    PageSize="100000"
                    SearchBoxNullText="Masukkan kata carian..."
                    SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                    CustomizeSummaryDisplayText="Grid_CustomizeSummaryDisplayText"
                    PageSizeSelectorVisible="false"
                    PageSizeSelectorAllRowsItemVisible="true"
                    PagerAutoHideNavButtons="true"
                    EditFormButtonsVisible="false"
                    AutoExpandAllGroupRows="false"
                    GroupFooterDisplayMode="GridGroupFooterDisplayMode.Auto"
                    ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                    CustomizeElement="Grid_CustomizeElement"
                    KeyboardNavigationEnabled="true"
                    CssClass="mw-1000, grid-size">

                <Columns>
                    <DxGridCommandColumn Width="40px">
                        <HeaderTemplate>
                            <img src="images/icons/marker.png" />
                        </HeaderTemplate>
                        <CellDisplayTemplate>
                            <a @onclick="@(() => OnSelectedRow(context.DataItem))" style="text-decoration: none;" href="javascript:void(0);" title="Pin pada peta"><img src="images/icons-small/marker.png" /></a>
                        </CellDisplayTemplate>
                    </DxGridCommandColumn>
                    <DxGridDataColumn Caption="No Lot" MinWidth="120" Width="12%" FieldName="premis_lot" SortIndex="0" />
                    <DxGridDataColumn Caption="Tingkat" MinWidth="100" Width="10%" FieldName="premis_floor" TextAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn Caption="No SSM" MinWidth="130" Width="13%" FieldName="license_ssmno" />
                    <DxGridDataColumn Caption="No Akaun Lesen" MinWidth="150" Width="15%" FieldName="license_accno" />
                    <DxGridDataColumn Caption="Status Lesen" MinWidth="150" Width="15%" FieldName="license_status_view" />

                    <DxGridDataColumn Caption="Nama Pemegang Lesen" MinWidth="170" Width="17%" FieldName="license_owner_name" />
                    <DxGridDataColumn Caption="No Kad Pengenalan" MinWidth="130" Width="13%" FieldName="license_owner_icno" />
                    <DxGridDataColumn Caption="Alamat Pemegang Lesen" MinWidth="230" Width="23%" FieldName="license_owner_addess" />
                    <DxGridDataColumn Caption="Nama Perniagaan" MinWidth="200" Width="20%" FieldName="license_business_name" />
                    <DxGridDataColumn Caption="Alamat Perniagaan" MinWidth="230" Width="23%" FieldName="license_business_address" />
                    <DxGridDataColumn Caption="Tempoh" MinWidth="100" Width="10%" FieldName="license_duration" TextAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn Caption="Tarikh Mula" MinWidth="120" Width="12%" FieldName="license_start_date" TextAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn Caption="Tarikh Tamat" MinWidth="120" Width="12%" FieldName="license_end_date" TextAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn Caption="Jenis Lesen" MinWidth="300" Width="30%" FieldName="license_type" />
                    <DxGridDataColumn Caption="Amaun (RM)" MinWidth="120" Width="12%" FieldName="license_total_amount" TextAlignment="GridTextAlignment.Right" />

                    <DxGridDataColumn Caption="Nama Pemilik" MinWidth="170" Width="17%" FieldName="tax_owner_name" />
                    <DxGridDataColumn Caption="No Kad Pengenalan" MinWidth="130" Width="13%" FieldName="tax_owner_icno" />
                    <DxGridDataColumn Caption="Alamat Pemilik" MinWidth="230" Width="23%" FieldName="tax_owner_addess" />
                    <DxGridDataColumn Caption="Alamat Cukai" MinWidth="230" Width="23%" FieldName="tax_address" />

                    @*                 <DxGridDataColumn FieldName="DateCreated" MinWidth="110" DisplayFormat="dd/MM/yyyy" Caption="Tarikh Masuk" Width="10%"
                    TextAlignment="GridTextAlignment.Center" SortOrder="GridColumnSortOrder.Descending" SortIndex="0" /> *@
                </Columns>

                @*This is to count the summary*@
                <TotalSummary>
                    <DxGridSummaryItem FooterColumnName="premis_lot"
                                       Name="Custom"
                                       SummaryType=GridSummaryItemType.Count />
                </TotalSummary>
            </DxGrid>
        </div>

        <table class="tableTapis" id="tableTapis">
            <tr>
                <th colspan=3>Tapisan <a href="javascript:void(0)" class="closebtn" @onclick="CloseFilter">&times;</a></th>
            </tr>
            <tr class="titleTapis">
                <td colspan="3" class="headTapis">Cukai</td>
            </tr>

            <CheckBoxList Data="@FilterList"
                          TextField="@((item)=>item.ColorDesc)"
                          ValueField="@((item)=>item.TypeId)"
                          SelectedValues="@SelectedIds" />

            @*         <tr class="titleTapis">
            <td colspan="3" class="headTapis">Nota Pemeriksaan</td>
            </tr>

            <CheckBoxList Data="@NotaList"
            TextField="@((item)=>item.ColorDesc)"
            ValueField="@((item)=>item.TypeId)"
            SelectedValues="@SelectedIds" /> *@

            <tr style="height:35px;">
                <td colspan="3">
                    @*                 <b>@OutPutValue</b> *@
                </td>
            </tr>
            <tr class="buttonTapis">
                <td colspan="3">
                    <button class="btnTapis" @onclick="CloseFilter">Batal</button>
                    <button class="btnTapis" @onclick="ShowSelectedValues">Simpan</button>
                </td>
            </tr>
        </table>

    </div>

    <!-- Map panel -->
    <div id="map1" class="map-container">
        <GoogleMap @ref="@map1" Id="map1" Options="@_mapOptions" OnAfterInit="async () => await OnAfterMapInit()" CssClass="mapPBTPro"></GoogleMap>
    </div>

    <!-- Legend panel -->
    <div id="legend" @ref="@LegendReference" style="display: none">
        <table class="tableMap" id="tableLegend">
            <tr>
                <th colspan="3">Legend</th>
            </tr>
            <tr>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30"><circle cx="15" cy="15" r="5" fill="Green" /></svg>
                </td>
                <td>Bil. Cukai Dibayar</td>
                <td class="text-right">@mintAktif</td>
            </tr>
            <tr>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30"><circle cx="15" cy="15" r="5" fill="Red" /></svg>
                </td>
                <td>Bil. Cukai Tertunggak</td>
                <td class="text-right">@mintTamatTempoh</td>
            </tr>
            <tr>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30"><circle cx="15" cy="15" r="5" fill="Grey" /></svg>
                </td>
                <td>Bil. Tiada Data</td>
                <td class="text-right">@mintTiadaData</td>
            </tr>
@*             <tr>
                <td class="noMarker" colspan="2">Bil. Notis</td>
                <td class="text-right">0</td>
            </tr>
            <tr>
                <td colspan="2" class="noMarker">Jumlah Notis</td>
                <td class="text-right">RM 0.00</td>
            </tr>
            <tr>
                <td colspan="2" class="noMarker">Bil. Kompaun</td>
                <td class="text-right">0</td>
            </tr>
            <tr>
                <td colspan="2" class="noMarker">Jumlah Kompaun (RM)</td>
                <td class="text-right">RM 0.00</td>
            </tr> *@
        </table>
    </div>


    <div id="panel-right" class="cd-panel cd-panel--from-right js-cd-panel-main">
        <header class="cd-panel__header">
            <h1>Paparan Maklumat Premis</h1>
            <a style="text-underline-position:below; cursor:pointer" onclick=@(() => OpenSideBar("")) class="cd-panel__close js-cd-close">Close</a>
        </header>

        <div class="cd-panel__container">
            <div class="cd-panel__content">
                @{
                    int? valueType = 0;
                    double dblLat = 0;
                    double dblLng = 0;
                    string strImagePremis = "";
                    List<string> _floorPremis = new List<string>();
                    List<ImageFile> AssetImages = new List<ImageFile>();

                    if (_labelText != "")
                    {
                        dblLat = premisInfo._latitude ?? 0;
                        dblLng = premisInfo._longitude ?? 0; //coords[0];
                                                             //Get the premis image
                        strImagePremis = premisInfo.gkeseluruh ?? "";

                        if (premisInfo != null)
                        {
                            if (premisInfo.premis_license_tax != null)
                            {
                                //Need to check how many floor
                                foreach (var _dtPremis in premisInfo.premis_license_tax)
                                {
                                    if (!_floorPremis.Contains(_dtPremis.floor_building.ToString()))
                                    {
                                        _floorPremis.Add(_dtPremis.floor_building.ToString());
                                    }
                                }
                            }
                        }

                        //Count the list to get how many floor
                        valueType = 1;  //set the default value - only 1 floor
                        if (_floorPremis.Count() == 0)
                            valueType = 0;
                        else if (_floorPremis.Count() > 1)
                            valueType = 2; //more the 1 floor

                        //Clear back the label
                        _labelText = "";
                    }

                    if (strImagePremis.Trim() != "")
                    {
                        AssetImages.Add(new ImageFile() { Url = strImagePremis });

                        <div class="mt-0 mb-1">
                            <Carousel imageset="@AssetImages" CssClass="col-12"></Carousel>
                        </div>
                    }

                    if (valueType == 0)
                    {
                        <div class="tbRightPane-tab" style="align-content:center;">
                            <table style="height:100%;padding: 0px 10px;">
                                <tr style="height:50px;"><td colspan="2"></td></tr>
                                <tr>
                                    <td><img src="/images/icons/information.png" /></td>
                                    <td style="padding:4px 5px 0px 5px;"><span style="font-size: 1rem;letter-spacing: 0.08rem;text-transform: uppercase;font-weight: bold;">Maaf! Tiada Rekod Untuk Dipaparkan.</span></td>
                                </tr>
                            </table>
                        </div>
                    }
                    else if (valueType == 1)
                    {

                        <div class="tbRightPane-tab">
                            <DxTabs>
                                <DxTabPage Text="Maklumat Lesen">
                                    <!-- ContentTemplate Context dont give name that has this "-"". ex:Level1-Lot1 -->
                                    <DxAccordion ShowFilterPanel="true"
                                                 ExpandMode=AccordionExpandMode.MultipleOrNone
                                                 ExpandCollapseAction=AccordionExpandCollapseAction.Auto
                                                 RootItemExpandButtonDisplayMode=AccordionExpandButtonDisplayMode.Start
                                                 AnimationType="LayoutAnimationType.Slide">
                                        <Items>

                                            @foreach (var lesenItem in premisInfo.premis_license_tax)
                                            {

                                                @*<DxAccordionItem Expanded="true">
                                    <HeaderTextTemplate>
                                    <div>
                                    <div class="text-center flex-grow-1 dxbl-accordion-item-text">
                                    @($"{lesenItem.license.business_name}")

                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30">
                                    <circle cx="15" cy="15" r="5" fill="@GetColorLot(lesenItem.status_lesen_id ?? 0)" />
                                    </svg>
                                    </div>
                                    </div>
                                    </HeaderTextTemplate>
                                    <ContentTemplate>
                                    <PremisCard PremisInfo="@lesenItem" LatLng="@(new LatLngLiteral { Lat=dblLat, Lng=dblLng })" Dtfloor="@_floorPremis" />
                                    </ContentTemplate>
                                    </DxAccordionItem>*@

                                                if (lesenItem.license != null)
                                                {
                                                    <DxAccordionItem Expanded="true">
                                                        <HeaderTextTemplate>
                                                            <div>
                                                                <div class="text-center flex-grow-1 dxbl-accordion-item-text">
                                                                    @($"{lesenItem.license.business_name}")

                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30">
                                                                        <circle cx="15" cy="15" r="5" fill="@GetColorLot(lesenItem.status_lesen_id ?? 0)" />
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </HeaderTextTemplate>
                                                        <ContentTemplate>
                                                            <PremisCard PremisInfo="@lesenItem" LatLng="@(new LatLngLiteral { Lat=dblLat, Lng=dblLng })" Dtfloor="@_floorPremis" />
                                                        </ContentTemplate>
                                                    </DxAccordionItem>
                                                }
                                                else
                                                {
                                                    <DxAccordionItem Expanded="true">
                                                        <HeaderTextTemplate>
                                                            <div>
                                                                <div class="text-center flex-grow-1 dxbl-accordion-item-text">TIADA DATA</div>
                                                            </div>
                                                        </HeaderTextTemplate>
                                                        <ContentTemplate>
                                                            <PremisCard PremisInfo="@lesenItem" LatLng="@(new LatLngLiteral { Lat=dblLat, Lng=dblLng })" Dtfloor="@_floorPremis" />
                                                        </ContentTemplate>
                                                    </DxAccordionItem>
                                                }

                                            }


                                        </Items>
                                    </DxAccordion>
                                </DxTabPage>
                                <!-- 2nd Tab -->
                                <DxTabPage Text="Maklumat Cukai">
                                    <!-- ContentTemplate Context dont give name that has this "-"". ex:Level1-Lot1 -->
                                    <DxAccordion ShowFilterPanel="true"
                                                 ExpandMode=AccordionExpandMode.MultipleOrNone
                                                 ExpandCollapseAction=AccordionExpandCollapseAction.Auto
                                                 RootItemExpandButtonDisplayMode=AccordionExpandButtonDisplayMode.Start
                                                 AnimationType="LayoutAnimationType.Slide">
                                        <Items>

                                            @{
                                                var _dtTax = premisInfo.premis_license_tax.First();
                                            }

                                            @if (_dtTax.tax != null)
                                            {

                                                <DxAccordionItem Expanded="true">
                                                    <HeaderTextTemplate>
                                                        <div>
                                                            <div class="text-center flex-grow-1 dxbl-accordion-item-text">
                                                                @($"NO CUKAI : {(string.IsNullOrEmpty(_dtTax.tax.tax_accno) ? "TIADA DATA" : _dtTax.tax.tax_accno)}")
                                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                                <span class="e-status">@GetStatusIconHtml(_dtTax.status_tax_id ?? 0)</span>
                                                            </div>
                                                        </div>
                                                    </HeaderTextTemplate>
                                                    <ContentTemplate>
                                                        <PremisTax _dtTax="@_dtTax" LatLng="@(new LatLngLiteral { Lat=dblLat, Lng=dblLng })" />
                                                    </ContentTemplate>
                                                </DxAccordionItem>
                                            }
                                            else
                                            {

                                                <DxAccordionItem Text="TIADA DATA" Expanded="true">
                                                    <ContentTemplate>
                                                        <div class="e-card">
                                                            <div class="e-main d-flex align-items-center">
                                                                <div class="e-info flex-grow-1 ms-3 py-3">
                                                                    <div class="e-name">Tarikh Cukai :-</div>
                                                                    <div class="e-name">Nama Pemilik : -</div>
                                                                    <div class="e-name">Alamat Pemilik : -</div>
                                                                    <div class="e-name">Telefon No : -</div>
                                                                    <div class="e-address">Alamat Premis : -</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ContentTemplate>
                                                </DxAccordionItem>
                                            }
                                        </Items>
                                    </DxAccordion>
                                </DxTabPage>
                            </DxTabs>
                        </div>

                    }
                    else if (valueType == 2)
                    {

                        <div class="tbRightPane-tab">
                            <DxTabs>
                                <DxTabPage Text="Maklumat Lesen">

                                    <DxAccordion ExpandMode=AccordionExpandMode.SingleOrNone
                                                 ExpandCollapseAction=AccordionExpandCollapseAction.Auto
                                                 RootItemExpandButtonDisplayMode=AccordionExpandButtonDisplayMode.End
                                                 AnimationType="LayoutAnimationType.Slide">
                                        <Items>

                                            @foreach (var _floor in _floorPremis)
                                            {

                                                <DxAccordionItem Text="@($"Aras {_floor}")">
                                                    <ContentTemplate Context="currentFloor">
                                                        @{
                                                            var currentFloor = _floor; // Use 'floor' inside the template
                                                        }
                                                        <div class="py-3 px-3">

                                                            <DxAccordion ExpandMode=AccordionExpandMode.MultipleOrNone
                                                                         ExpandCollapseAction=AccordionExpandCollapseAction.Auto
                                                                         RootItemExpandButtonDisplayMode=AccordionExpandButtonDisplayMode.Start
                                                                         AnimationType="LayoutAnimationType.Slide">
                                                                <Items>

                                                                    @foreach (var lesenItem in premisInfo.premis_license_tax)
                                                                    {
                                                                        if (lesenItem.floor_building == _floor)
                                                                        {
                                                                            if (lesenItem.license != null)
                                                                            {
                                                                                <DxAccordionItem Expanded="true">
                                                                                    <HeaderTextTemplate>
                                                                                        <div>
                                                                                            <div class="text-center flex-grow-1 dxbl-accordion-item-text">
                                                                                                @($"{lesenItem.license.business_name}")

                                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30">
                                                                                                    <circle cx="15" cy="15" r="5" fill="@GetColorLot(lesenItem.status_lesen_id ?? 0)" />
                                                                                                </svg>
                                                                                            </div>
                                                                                        </div>
                                                                                    </HeaderTextTemplate>
                                                                                    <ContentTemplate>
                                                                                        <PremisCard PremisInfo="@lesenItem" LatLng="@(new LatLngLiteral { Lat=dblLat, Lng=dblLng })" Dtfloor="@_floorPremis" />
                                                                                    </ContentTemplate>
                                                                                </DxAccordionItem>
                                                                            }
                                                                            else
                                                                            {
                                                                                <DxAccordionItem Expanded="true">
                                                                                    <HeaderTextTemplate>
                                                                                        <div>
                                                                                            <div class="text-center flex-grow-1 dxbl-accordion-item-text">TIADA DATA</div>
                                                                                        </div>
                                                                                    </HeaderTextTemplate>
                                                                                    <ContentTemplate>
                                                                                        <PremisCard PremisInfo="@lesenItem" LatLng="@(new LatLngLiteral { Lat=dblLat, Lng=dblLng })" Dtfloor="@_floorPremis" />
                                                                                    </ContentTemplate>
                                                                                </DxAccordionItem>
                                                                            }

                                                                        }
                                                                    }

                                                                </Items>
                                                            </DxAccordion>



                                                        </div>
                                                    </ContentTemplate>
                                                </DxAccordionItem>

                                            }

                                        </Items>
                                    </DxAccordion>
                                </DxTabPage>
                                <!-- 2nd Tab -->
                                <DxTabPage Text="Maklumat Cukai">


                                    <DxAccordion ExpandMode=AccordionExpandMode.SingleOrNone
                                                 ExpandCollapseAction=AccordionExpandCollapseAction.Auto
                                                 RootItemExpandButtonDisplayMode=AccordionExpandButtonDisplayMode.End
                                                 AnimationType="LayoutAnimationType.Slide">
                                        <Items>

                                            @foreach (var _floor in _floorPremis)
                                            {

                                                <DxAccordionItem Text="@($"Aras {_floor}")">
                                                    <ContentTemplate Context="currentFloor">
                                                        @{
                                                            var currentFloor = _floor; // Use 'floor' inside the template
                                                            List<string> _noCukai = new List<string>();
                                                        }
                                                        <div class="py-3 px-3">

                                                            <DxAccordion ExpandMode=AccordionExpandMode.MultipleOrNone
                                                                         ExpandCollapseAction=AccordionExpandCollapseAction.Auto
                                                                         RootItemExpandButtonDisplayMode=AccordionExpandButtonDisplayMode.Start
                                                                         AnimationType="LayoutAnimationType.Slide">
                                                                <Items>

                                                                    @foreach (var _dtTax in premisInfo.premis_license_tax)
                                                                    {
                                                                        if (_dtTax.floor_building == _floor)
                                                                        {
                                                                            if (_dtTax.tax != null)
                                                                            {
                                                                                if (!_noCukai.Contains(_dtTax.tax.tax_accno.ToString()))
                                                                                {
                                                                                    _noCukai.Add(_dtTax.tax.tax_accno.ToString());


                                                                                    <DxAccordionItem Expanded="false">
                                                                                        <HeaderTextTemplate>
                                                                                            <div>
                                                                                                <div class="text-center flex-grow-1 dxbl-accordion-item-text">
                                                                                                    @($"NO CUKAI : {_dtTax.tax.tax_accno}")
                                                                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                                                                    <span class="e-status">@GetStatusIconHtml(_dtTax.status_tax_id ?? 0)</span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </HeaderTextTemplate>
                                                                                        <ContentTemplate>
                                                                                            <PremisTax _dtTax="@_dtTax" LatLng="@(new LatLngLiteral { Lat=dblLat, Lng=dblLng })" />
                                                                                        </ContentTemplate>
                                                                                    </DxAccordionItem>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <DxAccordionItem Text="TIADA DATA" Expanded="true">
                                                                                    <ContentTemplate>
                                                                                        <div class="e-card">
                                                                                            <div class="e-main d-flex align-items-center">
                                                                                                <div class="e-info flex-grow-1 ms-3 py-3">
                                                                                                    <div class="e-name">No Cukai :-</div>
                                                                                                    <div class="e-name">Tarikh Cukai :-</div>
                                                                                                    <div class="e-name">Nama Pemilik : -</div>
                                                                                                    <div class="e-name">Alamat Pemilik : -</div>
                                                                                                    <div class="e-name">Telefon No : -</div>
                                                                                                    <div class="e-address">Alamat Premis : -</div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </ContentTemplate>
                                                                                </DxAccordionItem>
                                                                            }

                                                                        }
                                                                    }

                                                                </Items>
                                                            </DxAccordion>

                                                        </div>
                                                    </ContentTemplate>
                                                </DxAccordionItem>

                                            }

                                        </Items>
                                    </DxAccordion>

                                </DxTabPage>
                            </DxTabs>
                        </div>

                        // <DxAccordionItem Text="Aras G">
                        //     <ContentTemplate Context="ArasG">
                        //         <div class="py-3 px-3">

                        //             <DxAccordion ExpandMode=AccordionExpandMode.MultipleOrNone
                        //                          ExpandCollapseAction=AccordionExpandCollapseAction.Auto
                        //                          RootItemExpandButtonDisplayMode=AccordionExpandButtonDisplayMode.Start
                        //                          AnimationType="LayoutAnimationType.Slide">
                        //                 <Items>

                        //                     <DxAccordionItem>
                        //                         <HeaderTextTemplate>
                        //                             <div>
                        //                                 <div class="text-center flex-grow-1 dxbl-accordion-item-text">
                        //                                     Maklumt Premis

                        //                                     <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30">
                        //                                         <circle cx="15" cy="15" r="5" fill=Red />
                        //                                     </svg>
                        //                                 </div>
                        //                             </div>
                        //                         </HeaderTextTemplate>

                        //                         <ContentTemplate Context="Premis1001">
                        //                             <div class="py-3 px-3">
                        //                             </div>
                        //                         </ContentTemplate>
                        //                     </DxAccordionItem>

                        //                     <DxAccordionItem Text="Maklumat Lesen">
                        //                         <ContentTemplate Context="Lesen1001">
                        //                             <div class="py-3 px-3">
                        //                             </div>
                        //                         </ContentTemplate>
                        //                     </DxAccordionItem>
                        //                 </Items>
                        //             </DxAccordion>



                        //         </div>
                        //     </ContentTemplate>
                        // </DxAccordionItem>
                        // <DxAccordionItem Text="Aras 1">
                        //     <ContentTemplate Context="Aras1">
                        //         <div class="py-3 px-3">

                        //             <DxAccordion ExpandMode=AccordionExpandMode.MultipleOrNone
                        //                          ExpandCollapseAction=AccordionExpandCollapseAction.Auto
                        //                          RootItemExpandButtonDisplayMode=AccordionExpandButtonDisplayMode.Start
                        //                          AnimationType="LayoutAnimationType.Slide">
                        //                 <Items>

                        //                     <DxAccordionItem>
                        //                         <HeaderTextTemplate>
                        //                             <div>
                        //                                 <div class="text-center flex-grow-1 dxbl-accordion-item-text">
                        //                                     Maklumt Premis

                        //                                     <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30">
                        //                                         <circle cx="15" cy="15" r="5" fill=Red />
                        //                                     </svg>
                        //                                 </div>
                        //                             </div>
                        //                         </HeaderTextTemplate>
                        //                         <ContentTemplate Context="Premis1001">
                        //                             <div class="py-3 px-3">
                        //                             </div>
                        //                         </ContentTemplate>
                        //                     </DxAccordionItem>
                        //                     <DxAccordionItem Text="Maklumat Lesen">
                        //                         <ContentTemplate Context="Lesen1001">
                        //                             <div class="py-3 px-3">
                        //                             </div>
                        //                         </ContentTemplate>
                        //                     </DxAccordionItem>
                        //                 </Items>
                        //             </DxAccordion>
                        //         </div>
                        //     </ContentTemplate>
                        // </DxAccordionItem>


                    }
                }

            </div>
        </div>
    </div>

</DxLoadingPanel>


<link rel="stylesheet" href="./css/style-sideNav.css">
<link rel="stylesheet" href="./css/firepanel/style.css">
<link href="_content/Components/blazorcarousel.css" rel="stylesheet" />