@page "/taburan_lesen"
@attribute [Authorize]

@implements IDisposable
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using PBTPro.DAL.Services
@using PBTPro.Data
@inject NoticeService _NoticeService
@inject ApiConnector _ApiConnector // 07/11/2024 - API Fetcher - ismail
@inject PremisService _PremisService


@* <GoogleMap @ref="@_map1" Id="map1" Options="@_mapOptions" OnAfterInit="@AfterMapInit"></GoogleMap> *@
<div class="topMapControl">
    <button id="buttonTapis" @onclick="@(() => OpenFilter(0))" class="buttonControlMap">Tapisan</button>
    <button id="buttonSearch" @onclick="@(() => OpenFilter(1))" class="buttonControlMap">Carian Premis</button>
    <button @onclick="AddLegend" class="buttonControlMap">Legend</button>
    <input type="text" @ref="this.searchBox" id="searchBox" class="searchMap" placeholder="Masukkan nama tempat untuk dicari..." />
    @* <button @onclick="Search" class="buttonControlMap">Cari Tempat</button> *@

</div>

<style>
    .dxbl-grid {
        height: 88vh;
        max-height: 88vh;
    }
</style>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Capaian Data...">

<!-- Filter & Search Premise panel -->
<div id="mySidenav" class="sidenav">

    <div id="SearchPremisePanel">
        <header class="searchPremis">
            <h1>Carian Premis</h1>
            <a style="cursor:pointer" href="javascript:void(0)" class="closebtnpremis" @onclick="CloseFilter">&times;</a>
        </header>
        

        <DxGrid @ref="Grid"
                Data="NoticeData"
                KeyFieldName="IdNotice"
                ShowGroupPanel="false"
                VirtualScrollingEnabled=true
                ShowFilterRow="false"
                TextWrapEnabled="true"
                ShowSearchBox="true"
                EditorRenderMode="GridEditorRenderMode.Integrated"
                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                PageSize="100"
                SearchBoxNullText="Masukkan kata carian..."
                SearchTextParseMode="GridSearchTextParseMode.GroupWordsByAnd"
                PageSizeSelectorVisible="false"
                PageSizeSelectorAllRowsItemVisible="true"
                PagerAutoHideNavButtons="true"
                EditFormButtonsVisible="false"
                AutoExpandAllGroupRows="false"
                GroupFooterDisplayMode="GridGroupFooterDisplayMode.Auto"
                ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                CustomizeElement="Grid_CustomizeElement"
                KeyboardNavigationEnabled="true"
                CssClass="mw-1000, grid-size">

            <Columns>
                <DxGridCommandColumn Width="40px">
                    <HeaderTemplate>
                        <img src="images/icons/marker.png" />
                    </HeaderTemplate>
                    <CellDisplayTemplate>
                        <a @onclick="@(() => OnSelectedRow(context.DataItem))" style="text-decoration: none;" href="javascript:void(0);" title="Muat turun laporan"><img src="images/icons-small/marker.png" /></a>
                    </CellDisplayTemplate>
                </DxGridCommandColumn>
                <DxGridDataColumn Caption="No Lot" MinWidth="80" Width="8%" FieldName="NoLot" SortIndex="0" />
                <DxGridDataColumn Caption="No Rujukan" MinWidth="80" Width="8%" FieldName="NoRujukan" />
                <DxGridDataColumn Caption="No Lesen" MinWidth="130" Width="13%" FieldName="NoLesen" />
                <DxGridDataColumn Caption="No Daftar Syarikat" MinWidth="100" Width="10%" FieldName="NoDaftarSyarikat" />
                <DxGridDataColumn Caption="Nama Pemilik" MinWidth="160" Width="16%" FieldName="NamaPemilik" />
                <DxGridDataColumn Caption="Nama Premis" MinWidth="160" Width="16%" FieldName="NamaPerniagaan" />
                <DxGridDataColumn Caption="Alamat Premis" MinWidth="230" Width="33%" FieldName="AlamatPerniagaan" />
@*                 <DxGridDataColumn FieldName="DateCreated" MinWidth="110" DisplayFormat="dd/MM/yyyy" Caption="Tarikh Masuk" Width="10%"
                TextAlignment="GridTextAlignment.Center" SortOrder="GridColumnSortOrder.Descending" SortIndex="0" /> *@
            </Columns>

            @*This is to count the summary*@
            <TotalSummary>
                <DxGridSummaryItem FooterColumnName="NoLot"
                                   Name="Custom"
                                   SummaryType=GridSummaryItemType.Count />
            </TotalSummary>
        </DxGrid>
    </div>

    <table class="tableTapis" id="tableTapis">
        <tr>
            <th colspan=3>Tapisan <a href="javascript:void(0)" class="closebtn" @onclick="CloseFilter">&times;</a></th>
        </tr>
        <tr class="titleTapis">
            <td colspan="3" class="headTapis">Lesen</td>
        </tr>

        <CheckBoxList Data="@FilterList"
                      TextField="@((item)=>item.ColorDesc)"
                      ValueField="@((item)=>item.TypeId)"
                      SelectedValues="@SelectedIds" />

@*         <tr class="titleTapis">
            <td colspan="3" class="headTapis">Nota Pemeriksaan</td>
        </tr>

        <CheckBoxList Data="@NotaList"
                      TextField="@((item)=>item.ColorDesc)"
                      ValueField="@((item)=>item.TypeId)"
                      SelectedValues="@SelectedIds" /> *@

        <tr style="height:35px;">
            <td colspan="3">
                <b>@OutPutValue</b>
            </td>
        </tr>
        <tr class="buttonTapis">
            <td colspan="3">
                <button class="btnTapis" @onclick="CloseFilter">Batal</button>
                <button class="btnTapis" @onclick="ShowSelectedValues">Simpan</button>
            </td>
        </tr>
    </table>

</div>

<!-- Map panel -->
<div id="map1" class="map-container">
    <GoogleMap @ref="@map1" Id="map1" Options="@_mapOptions" OnAfterInit="async () => await OnAfterMapInit()" CssClass="mapPBTPro"></GoogleMap>
</div>

<!-- Legend panel -->
<div id="legend" @ref="@LegendReference" style="display: none">
    <table class="tableMap" id="tableLegend">
        <tr>
            <th colspan="3">Legend</th>
        </tr>
        <tr>
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30"><circle cx="15" cy="15" r="5" fill="Green" /></svg>
            </td>
            <td>Bil. Lesen Aktif</td>
            <td class="text-right">@mintAktif</td>
        </tr>
        <tr>
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30"><circle cx="15" cy="15" r="5" fill="Red" /></svg>
            </td>
                <td>Bil. Lesen Tamat Tempoh / Tidak Berlesen</td>
                <td class="text-right">@mintTamatTempoh</td>
        </tr>
        <tr>
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30"><circle cx="15" cy="15" r="5" fill="Yellow" /></svg>
            </td>
                <td>Bil. Lesen Gantung</td>
                <td class="text-right">@mintGantung</td>
        </tr>
        <tr>
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30"><circle cx="15" cy="15" r="5" fill="Grey" /></svg>
            </td>
            <td>Bil. Lot Kosong</td>
            <td class="text-right">@mintLotKosong</td>
        </tr>
        <tr>
            <td class="noMarker" colspan="2">Bil. Notis</td>
            <td class="text-right">1,432</td>
        </tr>
        <tr>
            <td colspan="2" class="noMarker">Jumlah Notis</td>
            <td class="text-right">RM 21,432</td>
        </tr>
        <tr>
            <td colspan="2" class="noMarker">Bil. Kompaun</td>
            <td class="text-right">1,432</td>
        </tr>
        <tr>
            <td colspan="2" class="noMarker">Jumlah Kompaun (RM)</td>
            <td class="text-right">RM 21,432</td>
        </tr>
    </table>
</div>


<div id="panel-right" class="cd-panel cd-panel--from-right js-cd-panel-main">
    <header class="cd-panel__header">
        <h1>Paparan Maklumat Premis</h1>
        <a style="text-underline-position:below; cursor:pointer" onclick=@(() => OpenSideBar(_labelText)) class="cd-panel__close js-cd-close">Close</a>
    </header>

    <div class="cd-panel__container">
        <div class="cd-panel__content">
            @* <p>_labelText = @_labelText</p> *@
            @{
                int? valueType = 0;
                // // string colorLot = "";
                if (_labelText != "")
                {
                    valueType = 2;
                    // var dtPremis = NoticeData.Where(x => x.NoLesen == _labelText);
                    var dtPremis = NoticeData.Where(c => c.NoLesen == _labelText); //.FirstOrDefault()?.Type;
                    Items = dtPremis.Select((item, index) => (item, index));
                    // // colorLot = GetColorLot((int)valueType);

                }

                //Check if lot contain premis data
                if (premisData != null)
                {
                    if (premisData.Count() > 0)
                    {
                        premisItem = premisData.Select((item, index) => (item, index));
                    }
                }

            }

            @if (valueType == 1)
            {
                //ContentTemplate Context dont give name that has this "-"". ex:Level1-Lot1
                <DxAccordion ShowFilterPanel="true"
                             ExpandMode=AccordionExpandMode.MultipleOrNone
                             ExpandCollapseAction=AccordionExpandCollapseAction.Auto
                             RootItemExpandButtonDisplayMode=AccordionExpandButtonDisplayMode.Start
                             AnimationType="LayoutAnimationType.Slide">
                    <Items>

                        @foreach (var (premis, i) in Items)
                        {
                            <DxAccordionItem Expanded=@(i == 0)>
                                <HeaderTextTemplate>
                                    <div>
                                        <div class="text-center flex-grow-1 dxbl-accordion-item-text">
                                            @($"{premis.NamaPerniagaan}")

                                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30">
                                                <circle cx="15" cy="15" r="5" fill="@GetColorLot(premis.Type)" />
                                            </svg>
                                        </div>
                                    </div>
                                </HeaderTextTemplate>
                                <ContentTemplate>
                                    <PremisCard PremisInfo="@premis" />
                                </ContentTemplate>
                            </DxAccordionItem>
                        }

                    </Items>
                </DxAccordion>
            }
            else if (valueType == 2)
            {

                <DxAccordion ExpandMode=AccordionExpandMode.SingleOrNone
                             ExpandCollapseAction=AccordionExpandCollapseAction.Auto
                             RootItemExpandButtonDisplayMode=AccordionExpandButtonDisplayMode.End
                             AnimationType="LayoutAnimationType.Slide">
                    <Items>

                        <DxAccordionItem Text="Aras G">
                            <ContentTemplate Context="ArasG">
                                <div class="py-3 px-3">

                                    <DxAccordion ExpandMode=AccordionExpandMode.MultipleOrNone
                                                 ExpandCollapseAction=AccordionExpandCollapseAction.Auto
                                                 RootItemExpandButtonDisplayMode=AccordionExpandButtonDisplayMode.Start
                                                 AnimationType="LayoutAnimationType.Slide">
                                        <Items>

                                            <DxAccordionItem>
                                                <HeaderTextTemplate>
                                                    <div>
                                                        <div class="text-center flex-grow-1 dxbl-accordion-item-text">
                                                            Maklumt Premis

                                                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30">
                                                                <circle cx="15" cy="15" r="5" fill=Red />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </HeaderTextTemplate>

                                                <ContentTemplate Context="Premis1001">
                                                    <div class="py-3 px-3">
                                                    </div>
                                                </ContentTemplate>
                                            </DxAccordionItem>
                                            <DxAccordionItem Text="Maklumat Lesen">
                                                <ContentTemplate Context="Lesen1001">
                                                    <div class="py-3 px-3">
                                                    </div>
                                                </ContentTemplate>
                                            </DxAccordionItem>
                                        </Items>
                                    </DxAccordion>



                                </div>
                            </ContentTemplate>
                        </DxAccordionItem>
                        <DxAccordionItem Text="Aras 1">
                            <ContentTemplate Context="Aras1">
                                <div class="py-3 px-3">

                                    <DxAccordion ExpandMode=AccordionExpandMode.MultipleOrNone
                                                 ExpandCollapseAction=AccordionExpandCollapseAction.Auto
                                                 RootItemExpandButtonDisplayMode=AccordionExpandButtonDisplayMode.Start
                                                 AnimationType="LayoutAnimationType.Slide">
                                        <Items>

                                            <DxAccordionItem>
                                                <HeaderTextTemplate>
                                                    <div>
                                                        <div class="text-center flex-grow-1 dxbl-accordion-item-text">
                                                            Maklumt Premis

                                                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30">
                                                                <circle cx="15" cy="15" r="5" fill=Red />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </HeaderTextTemplate>
                                                <ContentTemplate Context="Premis1001">
                                                    <div class="py-3 px-3">
                                                    </div>
                                                </ContentTemplate>
                                            </DxAccordionItem>
                                            <DxAccordionItem Text="Maklumat Lesen">
                                                <ContentTemplate Context="Lesen1001">
                                                    <div class="py-3 px-3">
                                                    </div>
                                                </ContentTemplate>
                                            </DxAccordionItem>
                                        </Items>
                                    </DxAccordion>
                                </div>
                            </ContentTemplate>
                        </DxAccordionItem>
                    </Items>
                </DxAccordion>

            }


        </div>
    </div>
</div>


</DxLoadingPanel>

<link rel="stylesheet" href="./css/style-sideNav.css">
<link rel="stylesheet" href="./css/firepanel/style.css">
