@page "/user_password"
@attribute [Authorize]

@using PBTPro.DAL.Models.PayLoads
@using PBTPro.DAL.Services
@using PBTPro.Data
@using PBTPro.DAL.Models.CommonServices

@inject UserProfileService _UserProfileService
@inject PBTAuthUserService PBTAuthUserService
@inject NavigationManager NavigationManager
@inject IToastNotificationService ToastService

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Capaian Data...">

    <div class="d-lg-flex border-bottom">
        <div class="col-md-12 py-1 dx-helptitle pageTitle">
            <img class="imgTitle" src="/images/icons-small/lock.png" />
            <div class="textTitle">Tukar Kata Laluan</div>
        </div>
    </div>

    <div class="item-container-x">
        <div class="ProfileBox" style="border:solid 1px #999;border-radius: 5px;box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);">
            <div class="card-body">
                <EditForm Model="@userPwd" OnValidSubmit="@HandleValidSubmit" Context="EditFormContext">
                    <DataAnnotationsValidator />
                    <DxFormLayout>
                        <DxFormLayoutItem ColSpanMd="12">
                            <table width="100%">
                                <tr>
                                    <td width="34%" align="center">
                                        <div class="align-items-center align-content-center">
                                            <img class="profile-photo" src="@str_photo_path_url" alt="@str_photo_filename" />
                                        </div>
                                    </td>
                                    <td width="66%" colspan="2">
                                        <table width="100%">
                                            <tr>
                                                <td colspan="2">
                                                    <div>ID Pengguna</div>
                                                    <DxTextBox @bind-Text="@str_user_name"
                                                               NullText="Nama Pengguna ..."
                                                               ShowValidationIcon="false"
                                                               Enabled="false"
                                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%">
                                                    <div>Emel</div>
                                                    <DxTextBox @bind-Text="@str_profile_email"
                                                               NullText="Emel Pengguna ..."
                                                               BindValueMode="BindValueMode.OnInput"
                                                               CssClass="cw-480"
                                                               Enabled="false" />
                                                </td>
                                                <td width="50%">
                                                    <div>Peranan</div>
                                                    <DxTextBox @bind-Text="@str_profile_role"
                                                               NullText="Peranan pengguna ..."
                                                               BindValueMode="BindValueMode.OnInput"
                                                               CssClass="cw-480"
                                                               Enabled="false" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div>No Kad Pengenalan</div>
                                                    <DxTextBox @bind-Text="@str_profile_icno"
                                                               NullText="No Kad Pengenalan ..."
                                                               BindValueMode="BindValueMode.OnInput"
                                                               CssClass="cw-480" style="width:200px"
                                                               Enabled="false" />
                                                </td>
                                                <td>
                                                    <div>No Telefon</div>
                                                    <DxTextBox @bind-Text="@str_profile_telno"
                                                               NullText="No Telefon ..."
                                                               BindValueMode="BindValueMode.OnInput"
                                                               CssClass="cw-480" style="width:170px"
                                                               Enabled="false" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>Jabatan</div>
                                        <DxTextBox @bind-Text="@str_dept_name"
                                                   NullText="Jabatan pengguna ..."
                                                   BindValueMode="BindValueMode.OnInput"
                                                   CssClass="cw-480"
                                                   Enabled="false" />
                                    </td>
                                    <td width="33%">
                                        <div>Section</div>
                                        <DxTextBox @bind-Text="@str_div_name"
                                                   NullText="Seksyen pengguna ..."
                                                   BindValueMode="BindValueMode.OnInput"
                                                   CssClass="cw-480"
                                                   Enabled="false" />
                                    </td>
                                    <td width="33%">
                                        <div>Unit</div>
                                        <DxTextBox @bind-Text="@str_unit_name"
                                                   NullText="Unit pengguna ..."
                                                   BindValueMode="BindValueMode.OnInput"
                                                   CssClass="cw-480"
                                                   Enabled="false" />
                                    </td>
                                </tr>
                                <tr height="30px"><td colspan="3"></td></tr>
                                <tr>
                                    <td>
                                        <div>Kata Laluan Semasa</div>
                                        <div style="position: relative; width: 300px;">
                                            <DxTextBox @bind-Text="@userPwd.current_password"
                                                       NullText="Kata Laluan Semasa..."
                                                       ShowValidationIcon="true"
                                                       Password="@isPasswordHidden1"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                       style="padding-right: 40px;" />

                                            <img src="@GetEyeIcon1()"
                                                 @onclick="TogglePasswordVisibility1"
                                                 style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; font-size: 18px;" />
                                        </div>
                                    </td>
                                    <td width="33%">
                                        <div>Kata Laluan Baharu</div>
                                        <div style="position: relative; width: 300px;">
                                            <DxTextBox @bind-Text="@userPwd.new_password"
                                                       NullText="Kata Laluan Baharu..."
                                                       ShowValidationIcon="true"
                                                       Password="@isPasswordHidden2"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                       style="padding-right: 40px;" />

                                            <img src="@GetEyeIcon2()"
                                                 @onclick="TogglePasswordVisibility2"
                                                 style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; font-size: 18px;" />
                                        </div>
                                    </td>
                                    <td width="33%">
                                        <div>Sahkan Kata Laluan</div>
                                        <div style="position: relative; width: 300px;">
                                            <DxTextBox @bind-Text="@userPwd.valid_new_password"
                                                       NullText="Sahkan Kata Laluan..."
                                                       ShowValidationIcon="true"
                                                       Password="@isPasswordHidden3"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                       style="padding-right: 40px;" />

                                            <img src="@GetEyeIcon3()" 
                                               @onclick="TogglePasswordVisibility3" 
                                               style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; font-size: 18px;" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                         </DxFormLayoutItem>


                        <DxFormLayoutItem ColSpanMd="6">
@*                             <div>Kata Laluan Semasa</div>
                            <DxTextBox @bind-Text="@userPwd.current_password"
                                       NullText="Kata Laluan Semasa..."
                                       ShowValidationIcon="true"
                                       Password="true"
                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" /> *@

                        </DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="6">
                        </DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="6">
@*                             <div>Kata Laluan Baharu</div>
                            <DxTextBox @bind-Text="@userPwd.new_password"
                                       NullText="Kata Laluan Baharu..."
                                       ShowValidationIcon="true"
                                       Password="true"
                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" /> *@

                        </DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="6">
@*                             <div>Sahkan Kata Laluan</div>
                            <DxTextBox @bind-Text="@userPwd.valid_new_password"
                                       NullText="Sahkan Kata Laluan ..."
                                       ShowValidationIcon="true"
                                       Password="true"
                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" /> *@
                        </DxFormLayoutItem>

                        <DxFormLayoutItem ColSpanMd="12">
                            <ul style="margin-top:-3px;">
                                <li>Min Kata Laluan mestilah 8 atau lebih aksara campuran huruf dan abjad.</li>
                                <li>Mesti mengandungi sekurang-kurangnya 1 huruf kecil dan 1 huruf besar abjad.</li>
                                <li>Mesti mengandungi sekurang-kurangnya 1 digit.</li>
                                <li>Mesti mengandungi sekurang-kurangnya 1 aksara khas. (cth:!#$%^&)</li>
                            </ul>

                            <DxButton CssClass="w-100 normal-btn" Text="Tukar Kata Laluan"
                                      RenderStyle="ButtonRenderStyle.Primary"
                                      Enabled="true"
                                      SubmitFormOnClick="true">
                            </DxButton>
                        </DxFormLayoutItem>
                        <div>&nbsp;<br /></div>
                        <DxFormLayoutItem ColSpanMd="12">
                            <ValidationSummary />
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </EditForm>
            </div>
        </div>
    </div>
</DxLoadingPanel>


@code {
    private bool isPasswordHidden1 = true;
    private bool isPasswordHidden2 = true;
    private bool isPasswordHidden3 = true;

    private void TogglePasswordVisibility1()
    {
        isPasswordHidden1 = !isPasswordHidden1;
    }

    private string GetEyeIcon1()
    {
        return isPasswordHidden1 ? "images/icons-small/eye-close.png":"images/icons-small/eye.png"; // Replace these with the correct icon classes from your library.
    }

    private void TogglePasswordVisibility2()
    {
        isPasswordHidden2 = !isPasswordHidden2;
    }

    private string GetEyeIcon2()
    {
        return isPasswordHidden2 ? "images/icons-small/eye-close.png":"images/icons-small/eye.png"; // Replace these with the correct icon classes from your library.
    }

    private void TogglePasswordVisibility3()
    {
        isPasswordHidden3 = !isPasswordHidden3;
    }

    private string GetEyeIcon3()
    {
        return isPasswordHidden3 ? "images/icons-small/eye-close.png":"images/icons-small/eye.png"; // Replace these with the correct icon classes from your library.
    }



    bool PanelVisible { get; set; }
    user_profile_view userInfo = new user_profile_view();
    update_password_input_model userPwd = new update_password_input_model();

    string str_dept_name { get; set; } = string.Empty;
    string str_div_name { get; set; } = string.Empty;
    string str_unit_name { get; set; } = string.Empty;
    string str_profile_icno { get; set; } = string.Empty;
    string str_profile_telno { get; set; } = string.Empty;
    string str_user_name { get; set; } = string.Empty;
    string str_profile_role { get; set; } = string.Empty;
    string str_profile_name { get; set; } = string.Empty;
    string str_profile_email { get; set; } = string.Empty;
    string str_photo_path_url { get; set; } = string.Empty;
    string str_photo_filename { get; set; } = string.Empty;


    protected override async Task OnInitializedAsync()
    {

        PanelVisible = true;
        // intCurrentUserId = _PBTAuthStateProvider.CurrentUser.Userid;
        userInfo = await _UserProfileService.Retrieve();

        List<user_profile_role> user_roles = userInfo.user_roles;

        //Get the current role if user has more than 1 role
        int intRoleId = 0;
        foreach (var item in user_roles)
        {
            if (item.IsDefaultRole)
            {
                str_profile_role = item.Name;
                break;
            }
            else
            {
                if (intRoleId > item.Id)
                {
                    intRoleId = item.Id;
                    str_profile_role = item.Name;
                }
                else if (intRoleId == 0)
                {
                    intRoleId = item.Id;
                    str_profile_role = item.Name;
                }
            }
        }

        //Assign the value
        str_user_name = userInfo.user_name;
        str_profile_icno = userInfo.idno;
        str_dept_name = userInfo.dept_name;
        str_div_name = userInfo.div_name;
        str_unit_name = userInfo.unit_name;
        str_profile_email = userInfo.email;
        str_profile_telno = userInfo.phone_number;
        str_photo_path_url = userInfo.photo_path_url;
        str_photo_filename = userInfo.photo_filename;

        PanelVisible = false;
    }

    public async Task HandleValidSubmit()
    {
        ReturnViewModel response = new ReturnViewModel();

        response = await _UserProfileService.UpdatePassword(userPwd);

        if (response.ReturnCode == 200)
        {
            ToastService.ShowToast(new ToastOptions()
                {
                    ProviderName = "Overview",
                    ThemeMode = ToastThemeMode.Saturated,
                    RenderStyle = ToastRenderStyle.Success,
                    Title = response.ReturnMessage//"Proses kemaskini katalaluan selesai."
                });

            NavigationManager.NavigateTo("logout", false);
        }
        else
        {

            ToastService.ShowToast(new ToastOptions()
                {
                    ProviderName = "Overview",
                    ThemeMode = ToastThemeMode.Saturated,
                    RenderStyle = ToastRenderStyle.Danger,
                    Title = response.ReturnMessage//"Ralat telah berlaku! Sila hubungi pentadbir sistem."
                });
        }
    }



}