@page "/user_role"
@attribute [AllowAnonymous]

@implements IDisposable

@using PBTPro
@using PBTPro.Shared
@using PBTPro.Data
@using PBTPro.DAL
@using PBTPro.DAL.Models
@using PBTPro.DAL.Services
@using PBTPro.DAL.Models.CommonServices

@inject RoleService _RoleService
@inject UserRoleService _UserRoleService
@inject UserService _UserService
@inject NavigationManager NavigationManager
@inject IToastNotificationService ToastService

<style>
    .dxbl-grid {
        height: 88vh;
        max-height: 88vh;
    }
</style>

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Capaian Data...">

<div class="d-lg-flex border-bottom">
    <div class="col-md-12 py-1 dx-helptitle pageTitle">
        <img class="imgTitle" src="\images\icons-small\xfn-friend.png" />
        <div class="textTitle">Peranan Pengguna</div>
    </div>
</div>

<div class="item-container-x">

    <DxGrid @ref="Grid"
            Data="dataUserRole"
            KeyFieldName="UserRoleId"
            ShowGroupPanel="true"
            ShowFilterRow="false"
            TextWrapEnabled="true"
            CustomizeSummaryDisplayText="Grid_CustomizeSummaryDisplayText"
            EditorRenderMode="GridEditorRenderMode.Integrated"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ShowSearchBox="true"
            AllowSelectRowByClick="true"
            @bind-SearchText="@GridSearchText"
            PageSize="25"
            @bind-PageIndex="@GridPageIndex"
            PagerPosition="GridPagerPosition.Bottom"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            EditModelSaving="Grid_EditModelSaving"
            CustomizeEditModel="OnCustomizeEditModel"
            EditFormButtonsVisible="false"
            PageSizeSelectorVisible="true"
            PageSizeSelectorItems="@(new int[] { 25, 50, 100 })"
            PageSizeSelectorAllRowsItemVisible="true"
            PagerAutoHideNavButtons="false"
            ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
            GroupFooterDisplayMode="GridGroupFooterDisplayMode.Auto"
            HighlightRowOnHover="true"
            CssClass="mv-1000">

        <Columns>
            <DxGridCommandColumn Width="55px">
                <HeaderTemplate>
                    <a @onclick="@(() => Grid.StartEditNewRowAsync())" style="text-decoration: none;" href="javascript:void(0);"><img src="images/icons/plus-circle.png" /></a>
                </HeaderTemplate>
                <CellDisplayTemplate>
                    <a @onclick="@(() => Grid.StartEditRowAsync(context.VisibleIndex))" style="text-decoration: none; padding:0px 2px;" href="javascript:void(0);"><img src="images/icons-small/table--pencil.png" /></a>
                    <a @onclick="@(() => Delete((UserRoleModel)context.DataItem))" style="text-decoration: none;padding:0px 0px 0px 2px;" href="javascript:void(0);"><img src="images/icons-small/cross-circle-frame.png" /></a>
                </CellDisplayTemplate>
            </DxGridCommandColumn>
            <DxGridDataColumn Caption="Nama Pengguna" MinWidth="180" Width="28%" FieldName="UserName" />
            <DxGridDataColumn Caption="Nama Penuh Pengguna" MinWidth="240" Width="32%" FieldName="FullName" />
            <DxGridDataColumn Caption="Peranan" MinWidth="120" Width="20%" GroupIndex="0" FieldName="RoleName" />
            <DxGridDataColumn Caption="Keterangan" MinWidth="250" Width="36%" FieldName="RoleDesc" TextAlignment="GridTextAlignment.Left" />

            <DxGridDataColumn FieldName="CreatedAt"
                              DisplayFormat="dd/MM/yyyy"
                              Caption="Tarikh Data"
                              MinWidth="100"
                              Width="12%"
                              TextAlignment="GridTextAlignment.Center"
                              SortOrder="GridColumnSortOrder.Ascending"
                              SortIndex="0">
                <FilterMenuTemplate>
                    <DateRange FilterContext="context" />
                </FilterMenuTemplate>
            </DxGridDataColumn>
        </Columns>

        <EditFormTemplate Context="EditFormContext">
            @{
                var dtUserRole = (UserRoleModel)EditFormContext.EditModel;

                // This is to check whether in add new @ edit mode
                boolLockDropDown = Grid.IsEditingNewRow();
            }
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutItem ColSpanMd="6" BeginRow="true">
                    <table class="layout_edit">
                        <tr>
                            <td nowrap>Pengguna</td>
                            <td nowrap>&nbsp;&nbsp;</td>
                            <td width="50%">
                                <DxComboBox Data="@dataUser"
                                            NullText="Pilih pengguna ..."
                                            ShowValidationIcon="true"
                                            SearchMode="ListSearchMode.AutoSearch"
                                            Enabled="@boolLockDropDown"
                                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                            TextFieldName="@nameof(ApplicationUser.Text)"
                                            ValueFieldName="Id"
                                            CssClass="combo-width"
                                            SelectedItemChanged="@((ApplicationUser x) => SelectedItemChanged(x))"
                                            DropDownWidthMode="DropDownWidthMode.ContentOrEditorWidth"
                                            @bind-Value="@dtUserRole.UserId">
                                </DxComboBox>
                            </td>
                            <td width="100px">&nbsp;</td>
                            <td nowrap></td>
                            <td>&nbsp;&nbsp;</td>
                            <td width="50%"></td>
                        </tr>
                        <tr>
                            <td nowrap>Peranan</td>
                            <td nowrap>&nbsp;&nbsp;</td>
                            <td width="50%" colspan="6">

                                <div class="multiselect">
                                    <div id="checkboxes">
                                        @{
                                            //Select back the role for selected user
                                            foreach (var item in dataRole)
                                            {
                                                bool blnSelected = false;
                                                foreach (var value in valueRole)
                                                {
                                                    if (item.Id == value.Id)
                                                    {
                                                        blnSelected = value.role_select; // true;
                                                        item.role_select = value.role_select;  //true;
                                                    }
                                                }


                                                <div>
                                                    <label class="multiselect-container" for="@item.Id">
                                                        @item.Name (@item.RoleDesc)
                                                        <input type="checkbox" class="check_role" id="@item.Id" checked="@(blnSelected ? true : false)" @onchange="@((e) => CheckboxChanged(e, item.Id))" name="Roles" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>

                                            }
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </DxFormLayoutItem>
                <DxFormLayoutItem ColSpanMd="12"><hr style="padding:0;margin:0;" /></DxFormLayoutItem>
                <DxFormLayoutItem ColSpanMd="12">
                    <DxButton SubmitFormOnClick="true" class="btn-edit-grid" Text="Simpan" />
                    <DxButton Click="@(() => Grid.CancelEditAsync())" class="btn-edit-grid" Text="Batal" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>
        <CustomValidators>
            <MyCustomValidator DataItemValidating="ValidateGridData" />
        </CustomValidators>

        @*This is to count the summary*@
        <TotalSummary>
            <DxGridSummaryItem FooterColumnName="Name"
                               Name="Custom"
                               SummaryType=GridSummaryItemType.Count />
        </TotalSummary>

    </DxGrid>

</div>
</DxLoadingPanel>

<DxPopup @bind-Visible="@ConfirmationShown" HeaderText="Hapus rekod" CssClass="confirmation-header" Width="auto" CloseOnOutsideClick="false">
    <BodyContentTemplate>
        <b>@strSelected</b> --> adalah rekod yang dipilih untuk dihapuskan.
        <br />Anda pasti untuk menghapuskan rekod ini?
        <br /><br />
        <div class="confirm-dialog-buttons">
            <DxButton Text="Ya" RenderStyle="ButtonRenderStyle.Primary" class="confirmation-btn" Click="@OnYesButtonClick" />
            <DxButton Text="Tidak" RenderStyle="ButtonRenderStyle.Secondary" class="confirmation-btn" Click="@OnNoButtonClick" />
        </div>
    </BodyContentTemplate>
</DxPopup>



@code {
    bool PanelVisible { get; set; }
    IEnumerable<ApplicationUserRole> dataSource;
    IEnumerable<ApplicationUser> dataUser;
    IEnumerable<ApplicationRole> dataRole;
    IEnumerable<ApplicationRole> valueRole;
    IEnumerable<UserRoleModel> dataUserRole;
    public List<int>? Roles { get; set; }

    IGrid Grid { get; set; }
    int GridPageIndex { get; set; } = 0;
    string GridSearchText = "";

    int intCurrentUserId { get; set; } = 0;
    bool boolLockDropDown { get; set; } = false;
    bool ConfirmationShown { get; set; } = false;
    string strSelected { get; set; } = "";

    UserRoleModel dtData { get; set; }
    ApplicationRole dtDataRole { get; set; }
    TaskCompletionSource<bool> DataLoadedTcs { get; } = new(TaskCreationOptions.RunContinuationsAsynchronously);

    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;
        //intCurrentUserId = _AllocationAuthenticationStateProvider.CurrentUser.userID;
        dataSource = await _UserRoleService.ListAll();
        dataUser = await _UserService.ListAll();
        dataRole = await _RoleService.ListAll();
        dataUserRole = await _UserRoleService.ListsAll();
        // // valueRole = dataRole;
        DataLoadedTcs.TrySetResult(true);
        PanelVisible = false;
    }

    protected void CheckboxChanged(ChangeEventArgs e, int key)
    {
        var i = dataRole.FirstOrDefault(i => i.Id == key);
        if (i != null)
        {
            i.role_select = (bool)e.Value;
        }

        //Clear the selection
        foreach (var item in valueRole)
        {
            if (item.Id == key)
                item.role_select = (bool)e.Value;
        }

    }


    void SelectedItemChanged(ApplicationUser x)
    {

        if (x != null)
        {
            List<ApplicationRole> arrItem = new List<ApplicationRole>();
            ApplicationRole _item;

            //Loop the main data to get all the role for selected user
            @foreach (var item in dataSource)
            {
                if (x.Id == item.UserId)
                {
                    _item = new ApplicationRole();
                    _item.Id = item.RoleId;
                    //_item.Name = item.Name;
                    //_item.RoleDesc = item.RoleDesc;
                    _item.role_select = true;
                    _item.CreatedAt = (DateTime)item.CreatedAt;
                    arrItem.Add(_item);

                    //Mark that role is selected
                    foreach (var _role in dataRole)
                    {
                        if (_role.Id == item.RoleId)
                            _role.role_select = true;
                    }
                }
            }

            valueRole = arrItem;
        }

    }

    void OnCustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var dtUserRole = (UserRoleModel)e.EditModel;

        List<ApplicationRole> arrItem = new List<ApplicationRole>();
        ApplicationRole _item;

        //Loop the main data to get all the role for selected user
        @foreach (var item in dataSource)
        {
            if (dtUserRole.UserId == item.UserId)
            {
                _item = new ApplicationRole();
                _item.Id = item.RoleId;
                //_item.Name = item.Name;
                //_item.RoleDesc = item.RoleDesc;
                _item.role_select = true;
                _item.CreatedAt = (DateTime)item.CreatedAt;
                arrItem.Add(_item);
            }
        }
        valueRole = arrItem;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await DataLoadedTcs.Task;
            await Grid.CancelEditAsync(); //.StartEditRowAsync(0);
        }
    }

    void ValidateGridData(ValidationMessageStoreEventArgs e)
    {
        var _data = (UserRoleModel)e.EditModel;
        if (_data.UserId == 0)
        {
            e.AddError(nameof(_data.UserId), "Sila pilih pengguna dari senarai.");
        }

        int intCountRole = 0;
        foreach (var item in dataRole)
        {
            if (item.role_select)
                intCountRole++;
        }

        if (intCountRole == 0)
        {
            e.AddError(nameof(_data.UserId), "Sila pilih peranan bagi pengguna.");
        }

    }

    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        ReturnViewModel response = new ReturnViewModel();
        var editModel = e.EditModel as UserRoleModel;

        //update selected user_id with selected role id
        List<UserRoleModel> saveUserRole = new List<UserRoleModel>();
        UserRoleModel _item = new UserRoleModel();

        //Loop the main data to get all the role for selected user
        @foreach (var item in dataRole)
        {
            if (item.role_select == true)
            {

                _item.RoleId = item.Id;
                _item.RoleName = item.Name;
                _item.RoleDesc = item.RoleDesc;
                _item.UserId = editModel.UserId;
                _item.FullName = "";
                _item.UserName = "";

                if (_item.Roles == null)
                {
                    _item.Roles = new List<int>();
                }

                _item.Roles.Add(item.Id);
            }
            saveUserRole.Add(_item);
        }
        response = await _UserRoleService.Add(saveUserRole);


        if (response.ReturnCode == 200)
        {
            await UpdateDataAsync();
            HandleResponse("Proses kemaskini selesai.");
        }
        else
        {
            HandleResponse(response.ReturnMessage, "Error");
        }
    }

    async Task UpdateDataAsync()
    {
        //Refresh back the data source
        dataSource = await _UserRoleService.ListAll();
        dataUserRole = await _UserRoleService.Refresh();
    }

    public void Dispose()
    {
        DataLoadedTcs.TrySetCanceled();
    }

    async Task Delete(UserRoleModel item)
    {
        strSelected = item.FullName;
        dtData = item;
        ConfirmationShown = true;
    }

    async void OnYesButtonClick()
    {
        try
        {
            ReturnViewModel response = new ReturnViewModel();
            response = await _UserRoleService.Delete(dtData.UserRoleId);

            if (response.ReturnCode == 200)
            {
                await UpdateDataAsync();
                ConfirmationShown = false;
                StateHasChanged();
                HandleResponse(response.ReturnMessage);
            }
            else
            {
                ConfirmationShown = false;
                HandleResponse(response.ReturnMessage, "Error");
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"An error occurred while delete the edit model: {ex.Message}");
        }
    }

    void OnNoButtonClick()
    {
        ConfirmationShown = false;
    }

    void Grid_CustomizeSummaryDisplayText(GridCustomizeSummaryDisplayTextEventArgs e)
    {
        if (e.Item.Name == "Custom")
            e.DisplayText = string.Format("Bil. : {0}", e.Value);
    }

    private void HandleResponse(string message, string? status = "Success")
    {
        var RenderStyle = ToastRenderStyle.Success;

        if (status == "Error")
        {
            RenderStyle = ToastRenderStyle.Danger;
        }
        else if (status == "Info")
        {
            RenderStyle = ToastRenderStyle.Info;
        }
        else if (status == "Warning")
        {
            RenderStyle = ToastRenderStyle.Warning;
        }

        ToastService.ShowToast(new ToastOptions()
            {
                ProviderName = "Overview",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = RenderStyle,
                Title = message
            });
    }
}
