@page "/zon_Eksekutif"
@attribute [Authorize]

@implements IDisposable

@using PBTPro
@using PBTPro.Shared
@using PBTPro.Data
@using PBTPro.DAL
@using PBTPro.DAL.Models
@using PBTPro.DAL.Services
@using PBTPro.DAL.Models.CommonServices
@using DevExpress.Blazor
@using PBTPro.DAL.Models.PayLoads

@inject DashboardService _DashboardService
@inject SearchService _SearchService
@inject NavigationManager NavigationManager
@inject PBTAuthPermissionService PermissionService
@inject IToastNotificationService ToastService

<DxLoadingPanel @bind-Visible="PanelVisible"
                IsContentBlocked="true"
                ApplyBackgroundShading="true"
                IndicatorAreaVisible="false"
                Text="Capaian Data...">

    <div class="d-lg-flex border-bottom">
        <div class="col-md-12 py-1 dx-helptitle pageTitle">
            <img class="imgTitle" src="/images/icons-small/information-frame.png" />
            <div class="textTitle">Ringkasan Eksekutif</div>
        </div>
    </div>

    @if (!PermissionService.HasPermission("View"))
    {
        NavigationManager.NavigateTo("/no-permission");
    }
    else
    {
        <div class="item-container-y">
            <div class="d-lg-flex" style="padding:0 0 0 0;">
                <div class="d-lg-flex col-12">

                    <div class="col-sm-12 col-lg-3 col-md-12 dashboard-box">
                        <div class="dashboard-style notis-color">
                            <div style="width:100%;display: flex;">
                                <div style="width:30%;padding:10px;">
                                    <div class="circle-small">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="iconNotis"><path d="M20 2C20.5523 2 21 2.44772 21 3V6.757L19 8.757V4H5V20H19V17.242L21 15.242V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V3C3 2.44772 3.44772 2 4 2H20ZM21.7782 8.80761L23.1924 10.2218L15.4142 18L13.9979 17.9979L14 16.5858L21.7782 8.80761ZM13 12V14H8V12H13ZM16 8V10H8V8H16Z"></path></svg>
                                    </div>
                                </div>
                                <div class="dashboard-wrap-small" style="width:70%;">
                                    <p class="dashboard-center-text">
                                        <span class="totalinword">Notis</span>
                                        <span class="totalinnumber">@dtSource.total_notis</span>
                                        <span class="totalall">Tahun @DateTime.Now.Year <i class="ri-arrow-right-fill"></i> -</span>
                                    </p>
                                </div>
                            </div>
                            <a href="graphnotice"><div class="panel-box-footer"><span class="pull-left">Perincian Notis</span> <span class="pull-right"><i class="ri-arrow-right-circle-line"></i></span><div class="clearfix"></div> </div> </a>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-3 col-md-12 dashboard-box">
                        <div class="dashboard-style kompaun-color">

                            <div style="width:100%;display: flex;">
                                <div style="width:30%;padding:10px;">
                                    <div class="circle-small">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="iconKompaun"><path d="M20 2C21.6569 2 23 3.34315 23 5V7H21V19C21 20.6569 19.6569 22 18 22H4C2.34315 22 1 20.6569 1 19V17H17V19C17 19.5128 17.386 19.9355 17.8834 19.9933L18 20C18.5128 20 18.9355 19.614 18.9933 19.1166L19 19V4H6C5.48716 4 5.06449 4.38604 5.00673 4.88338L5 5V15H3V5C3 3.34315 4.34315 2 6 2H20Z"></path></svg>
                                    </div>
                                </div>
                                <div class="dashboard-wrap-small" style="width:70%;">
                                    <p class="dashboard-center-text">
                                        <span class="totalinword">Kompaun</span>
                                        <span class="totalinnumber">@dtSource.total_kompaun</span>
                                        <span class="totalall">Tahun @DateTime.Now.Year <i class="ri-arrow-right-fill"></i> -</span>
                                    </p>
                                </div>
                            </div>
                            <a href="graphcompound"><div class="panel-box-footer"><span class="pull-left">Perincian Kompaun</span> <span class="pull-right"><i class="ri-arrow-right-circle-line"></i></span><div class="clearfix"></div> </div> </a>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-3 col-md-12 dashboard-box">
                        <div class="dashboard-style nota-color">

                            <div style="width:100%;display: flex;">
                                <div style="width:30%;padding:10px;">
                                    <div class="circle-small">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="iconNota"><path d="M17 2V4H20.0066C20.5552 4 21 4.44495 21 4.9934V21.0066C21 21.5552 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5551 3 21.0066V4.9934C3 4.44476 3.44495 4 3.9934 4H7V2H17ZM7 6H5V20H19V6H17V8H7V6ZM9 16V18H7V16H9ZM9 13V15H7V13H9ZM9 10V12H7V10H9ZM15 4H9V6H15V4Z"></path></svg>
                                    </div>
                                </div>
                                <div class="dashboard-wrap-small" style="width:70%;">
                                    <p class="dashboard-center-text">
                                        <span class="totalinword">Nota Pemeriksaan</span>
                                        <span class="totalinnumber">@dtSource.total_inspection</span>
                                        <span class="totalall">Tahun @DateTime.Now.Year <i class="ri-arrow-right-fill"></i> -</span>
                                    </p>
                                </div>
                            </div>
                            <a href="graphinspection"><div class="panel-box-footer"><span class="pull-left">Perincian Nota Pemeriksaan</span> <span class="pull-right"><i class="ri-arrow-right-circle-line"></i></span><div class="clearfix"></div> </div> </a>
                        </div>
                    </div>


                    <div class="col-sm-12 col-lg-3 col-md-12 dashboard-box">
                        <div class="dashboard-style sitaan-color">

                            <div style="width:100%;display: flex;">
                                <div style="width:30%;padding:10px;">
                                    <div class="circle-small">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="iconSita"><path d="M22 20V7L20 3H4L2 7.00353V20C2 20.5523 2.44772 21 3 21H21C21.5523 21 22 20.5523 22 20ZM4 9H20V19H4V9ZM5.236 5H18.764L19.764 7H4.237L5.236 5ZM15 11H9V13H15V11Z"></path></svg>
                                    </div>
                                </div>
                                <div class="dashboard-wrap-small" style="width:70%;">
                                    <p class="dashboard-center-text">
                                        <span class="totalinword">Sitaan</span>
                                        <span class="totalinnumber">@dtSource.total_confiscation</span>
                                        <span class="totalall">Tahun @DateTime.Now.Year <i class="ri-arrow-right-fill"></i> -</span>
                                    </p>
                                </div>
                            </div>
                            <a href="graphconfiscation"><div class="panel-box-footer"><span class="pull-left">Perincian Sitaan</span> <span class="pull-right"><i class="ri-arrow-right-circle-line"></i></span><div class="clearfix"></div> </div> </a>
                        </div>
                    </div>

                </div>
            </div>

            <hr style="padding:0;margin:0;" />

            @*             <div class="table-container">
                <h3 class="table-title">Maklumat Premis & Lesen</h3>
                <div class="table-border">
                    <table class="default-table">
                        <thead>
                            <tr>
                                <th style="width:70%">Keterangan</th>
                                <th style="width:30%;text-align:center">Jumlah</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jumlah Premis Perniagaan</td>
                                <td style="text-align:right">54</td>
                            </tr>
                            <tr>
                                <td>Jumlah Premis Berlesen</td>
                                <td style="text-align:right">18</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> *@

            <div class="d-lg-flex" style="padding:0 0 0 0;">
                <div class="d-lg-flex col-12">

                    <div class="col-sm-12 col-lg-12 col-md-12 dashboard-box">
                        <div class="dashboard-style-big big-color">

                            <div style="width:100%;display: flex;">
                                <div style="position:relative;width:20%;height:200px;padding:10px;">
                                    <div class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="240" height="240" fill="#02699a"><path d="M21 21H3C2.44772 21 2 20.5523 2 20V12.4868C2 12.1978 2.12501 11.9229 2.34282 11.733L6 8.54435V4C6 3.44772 6.44772 3 7 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21ZM9 19H12V12.9416L8 9.45402L4 12.9416V19H7V15H9V19ZM14 19H20V5H8V7.12729C8.23444 7.12729 8.46888 7.20938 8.65718 7.37355L13.6572 11.733C13.875 11.9229 14 12.1978 14 12.4868V19ZM16 11H18V13H16V11ZM16 15H18V17H16V15ZM16 7H18V9H16V7ZM12 7H14V9H12V7Z"></path></svg>
                                    </div>
                                </div>
                                <div class="dashboard-wrap" style="z-index:10;width:80%;height:200px">
                                    <div class="dashboard-center-text">
                                        <span class="totalinword">Bilangan Premis Perniagaan</span>
                                        <span class="totalinnumber">
                                            @(dtFinancial.total_premis_perniagaan + dtFinancial.total_premis_tanpa_pautan) </span>
                                        <hr style="padding:0;margin:0;color:#fff" />
                                        <br />
                                        <span class="totalallbig">Bilangan Premis Dengan Data Lesen <i class="ri-arrow-right-fill"></i> @dtFinancial.total_premis_perniagaan</span>
                                        <span class="totalallbig">Bilangan Premis Tanpa Data Lesen <i class="ri-arrow-right-fill"></i> @dtFinancial.total_premis_tanpa_pautan</span>
                                        <span class="totalallbig">Bilangan Premis Diperiksa <i class="ri-arrow-right-fill"></i> @dtSource.premis_diperiksa</span>
                                        @*                                         <span class="totalallbig">Bilangan Premis Berlesen <i class="ri-arrow-right-fill"></i> @dtFinancial.premis_berlesen</span>
                                        <span class="totalallbig">Bilangan Premis Tidak Berlesen <i class="ri-arrow-right-fill"></i> @dtFinancial.premis_tiada_lesen</span>
                                        <span class="totalallbig">Bilangan Premis Tamat Tempoh Lesen <i class="ri-arrow-right-line"></i> @dtFinancial.premis_tamat_tempoh_lesen</span> *@
                                        <span class="totalallbig">Bilangan Premis Dilawati <i class="ri-arrow-right-fill"></i> @dtSource.total_premis_dilawat</span>
                                        @* <span class="totalallbig">Bilangan Rondaan Dibuat <i class="ri-arrow-right-fill"></i> @dtSource.total_rondaan_dibuat</span> *@
                                        <span class="totalallbig">Bilangan Lokasi Baru <i class="ri-arrow-right-fill"></i> @dtSource.total_lokasi_baru</span>
                                    </div>

                                </div>
                            </div>
                            <a href="jumlesenaktif"><div class="panel-box-footer"><span class="pull-left">Perincian Premis Perniagaan</span> <span class="pull-right"><i class="ri-arrow-right-circle-line"></i></span><div class="clearfix"></div> </div> </a>

                        </div>
                    </div>

                </div>
            </div>

            @*             <div class="d-lg-flex" style="padding:0 0 0 0;">
                <div class="d-lg-flex col-12">

                    <div class="col-6 dashboard-box">
                        <div class="dashboard-style-big big-color">
                            <div class="dashboard-wrap">
                                <p /><p /><p />
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">@dtSource.premis_berlesen</span>
                                    <span class="totalinword">Jumlah Premis Berlesen</span>
                                </p>
                                <p /><p /><p />
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 dashboard-box">
                        <div class="dashboard-style-big big-color">
                            <div class="dashboard-wrap">
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">@dtSource.premis_tamat_tempoh_lesen</span>
                                    <span class="totalinword">Jumlah Premis Tidak Berlesen</span>
                                </p>
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@

            <div class="d-lg-flex" style="padding:0 0 0 0;">
                <div class="d-lg-flex col-12">

                    <div class="col-sm-12 col-lg-12 col-md-12 dashboard-box">
                        <div class="dashboard-style-big big-color">

                            <div style="width:100%;display: flex;">
                                <div style="position:relative;width:20%;height:200px;padding:10px;">
                                    <div class="circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="240" height="240" fill="#02699a"><path d="M3 6H21V18H3V6ZM2 4C1.44772 4 1 4.44772 1 5V19C1 19.5523 1.44772 20 2 20H22C22.5523 20 23 19.5523 23 19V5C23 4.44772 22.5523 4 22 4H2ZM13 8H19V10H13V8ZM18 12H13V14H18V12ZM10.5 10C10.5 11.3807 9.38071 12.5 8 12.5C6.61929 12.5 5.5 11.3807 5.5 10C5.5 8.61929 6.61929 7.5 8 7.5C9.38071 7.5 10.5 8.61929 10.5 10ZM8 13.5C6.067 13.5 4.5 15.067 4.5 17H11.5C11.5 15.067 9.933 13.5 8 13.5Z"></path></svg>
                                    </div>
                                </div>
                                <div class="dashboard-wrap" style="z-index: 10;width:80%;height:250px">
                                    <div class="dashboard-center-text">
                                        <span class="totalinword">Bilangan Data Lesen</span>
                                        <span class="totalinnumber">@mintAktif</span>
                                        <hr style="padding:0;margin:0;color:#fff" />
                                        <br />
                                        <span class="totalallbig">Bilangan Lesen Aktif <i class="ri-arrow-right-line"></i> @dtFinancial.total_lesen_aktif</span>
                                        <span class="totalallbig">Bilangan Tidak Berlesen <i class="ri-arrow-right-line"></i> @mintTidakBerlesen</span>
                                        @* <span class="totalallbig">Bilangan Tiada Data <i class="ri-arrow-right-line"></i> @mintTiadaData</span> *@
                                        @* <hr style="padding:0;margin-top:5px;margin-bottom:5px;color:#fff" /> *@
                                        <span class="totalallbig">Jumlah Lesen Aktif (RM) <i class="ri-arrow-right-fill"></i> @(totalLesenAktif?.ToString("##,##0.00"))</span>
                                        <span class="totalallbig">Jumlah Tidak Berlesen (RM) <i class="ri-arrow-right-fill"></i> @(totalLesenTidakAktif?.ToString("##,##0.00"))</span>
                                        <hr style="padding:0;margin-top:5px;margin-bottom:5px;color:#fff" />
                                        <span class="totalallbig">Bilangan Lesen Dikenakan Tindakan <i class="ri-arrow-right-fill"></i> @dtSource.lesen_dikenakan_tindakan</span>
                                        <span class="totalallbig">Pertambahan Lesen Tahun Semasa <i class="ri-arrow-right-line"></i> @dtFinancial.ptmbahan_lesen_thn_semasa</span>
                                        <span class="totalallbig">Bilangan Lesen Bulan Semasa <i class="ri-arrow-right-line"></i> @dtFinancial.ptmbahan_lesen_semasa</span>
                                    </div>

                                </div>
                            </div>
                            <a href="jumlesenaktif"><div class="panel-box-footer"><span class="pull-left">Perincian Lesen Perniagaan</span> <span class="pull-right"><i class="ri-arrow-right-circle-line"></i></span><div class="clearfix"></div> </div> </a>

                        </div>
                    </div>

                </div>
            </div>


            @*            <div class="d-lg-flex" style="padding:0 0 0 0;">
                <div class="d-lg-flex col-12">

                    <div class="col-6 dashboard-box">
                        <div class="dashboard-style-big big-color">
                            <div class="dashboard-wrap">
                                <p /><p /><p />
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">@dtFinancial.total_lesen_aktif</span>
                                    <span class="totalinword">Jumlah Lesen Aktif</span>
                                </p>
                                <p /><p /><p />
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 dashboard-box">
                        <div class="dashboard-style-big big-color">
                            <div class="dashboard-wrap">
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">@dtFinancial.lesen_tamat_tempoh</span>
                                    <span class="totalinword">Jumlah Lesen Tamat Tempoh</span>
                                </p>
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-lg-flex" style="padding:0 0 0 0;">
                <div class="d-lg-flex col-12">

                    <div class="col-6 dashboard-box">
                        <div class="dashboard-style-big big-color">
                            <div class="dashboard-wrap">
                                <p /><p /><p />
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">@dtFinancial.ptmbahan_lesen_thn_semasa</span>
                                    <span class="totalinword">Pertambahan Lesen Tahun Semasa</span>
                                </p>
                                <p /><p /><p />
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 dashboard-box">
                        <div class="dashboard-style-big big-color">
                            <div class="dashboard-wrap">
                                <p class="dashboard-center-text">
                                    <span class="totalinnumber">@dtFinancial.ptmbahan_lesen_semasa</span>
                                    <span class="totalinword">Jumlah Lesen Bulan Semasa</span>
                                </p>
                            </div>
                            <div class="dashboard-button">
                                <a href="jumlesenaktif" class="round-button">...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@

            <br/>

        </div>
    }
</DxLoadingPanel>

@code {
    bool PanelVisible { get; set; }
    dashboard_view dtSource = new dashboard_view();
    dashboard_view dtFinancial = new dashboard_view();
    IEnumerable<general_search_premis_detail> searchData;
    IEnumerable<general_search_premis_detail> licenseData;

    int mintAktif = 0;
    int mintTidakBerlesen = 0;
    int mintTiadaData = 0;
    double? totalLesenTidakAktif = 0;
    double? totalLesenTiadaData = 0;
    double? totalLesenAktif = 0;

    TaskCompletionSource<bool> DataLoadedTcs { get; } = new(TaskCreationOptions.RunContinuationsAsynchronously);

    protected override async Task OnInitializedAsync()
    {
        PanelVisible = true;

        searchData = await _SearchService.GetListPremisDetails();
        mintAktif = searchData.Count();
        mintTidakBerlesen = searchData.Where(x => x.license_status_view.ToUpper() == "TIDAK BERLESEN").Count();
        mintTiadaData = searchData.Where(x => x.license_status_view.ToUpper() == "TIADA DATA").Count();

        licenseData = searchData.Where(x => x.license_status_view.ToUpper() == "TIDAK BERLESEN");
        foreach (var _premis in licenseData)
        {
            totalLesenTidakAktif += string.IsNullOrEmpty(_premis.license_total_amount.ToString()) ? 0 : _premis.license_total_amount;
        }

        // licenseData = searchData.Where(x => x.license_status_view.ToUpper() == "TIADA DATA");
        // foreach (var _premis in licenseData)
        // {
        //     totalLesenTiadaData += string.IsNullOrEmpty(_premis.license_total_amount.ToString()) ? 0 : _premis.license_total_amount;
        // }

        licenseData = searchData.Where(x => x.license_status_view.ToUpper() == "AKTIF");
        foreach (var _premis in licenseData)
        {
            totalLesenAktif += string.IsNullOrEmpty(_premis.license_total_amount.ToString()) ? 0 : _premis.license_total_amount;
        }

        dtSource = await _DashboardService.GetDashboardData();
        dtFinancial = await _DashboardService.GetFinancialDashboard();

        DataLoadedTcs.TrySetResult(true);
        PanelVisible = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await DataLoadedTcs.Task;
        }
    }

    public void Dispose()
    {
        DataLoadedTcs.TrySetCanceled();
    }

}