@using PBTPro.Data
@inject PBTAuthStateProvider PBTAuthStateProvider


<div class="sidebar @StateCssClass">
    <!-- Sidebar Header-->
    <AuthorizeView>
        <Authorized>
            <div class="sidebar-header d-flex align-items-center pt-3 px-3 pb-3" style="border-bottom:solid 1px #ccc;">
        

                        @*<img class="avatar shadow-0 img-fluid rounded-circle" src="https://d19m59y37dris4.cloudfront.net/admin/2-2-0/img/avatar-1.ce912d90.jpg" alt="...">*@
                        <a href="" class="avatar-text online"><span class="avatar-text-initial">R</span></a>
                        <div class="ms-3 title">
                            <span class="loginuser mb-2">@PBTAuthStateProvider.CurrentUser.Fullname </span> [ <a href="user_profile" alt="ubah profail"><i class="ri-edit-2-line ri-1x"></i></a> | <a href="#" alt="ubah profail"><i class="ri-lock-password-line ri-1x"></i></a> ]
                            <p class="text-sm text-gray-500 fw-light mb-0 lh-1">
                                <span class="loginusername">@string.Join(", ", PBTAuthStateProvider.CurrentUser.Roles)</span> [ <a alt="logout" href="/logout"><i class="ri-logout-box-r-line ri-1x"></i></a>]
                            </p>
                        </div>

        @*             <NotAuthorized>
                        <div class="ms-3 title">
                            Pengguna Umum <a alt="login" href="/login"><i class="ri-login-box-line ri-1x"></i></a>
                        </div>
                    </NotAuthorized> *@
               
            </div>
        </Authorized>
    </AuthorizeView> 
    <DxTreeView AllowSelectNodes="true" CssClass="app-sidebar" style="padding-top:15px;">
        <Nodes>
            <DxTreeViewNode NavigateUrl="./" Text="Utama" IconUrl="\lib\remixicon\png\home-3-fill.png" CssClass="singleNodesClass"></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="/login" Text="Log Masuk" IconUrl="\images\icons-small\key.png" CssClass="singleNodesClass"></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="./" Text="Notifikasi" IconUrl="\images\icons-small\bell.png" CssClass="singleNodesClass" BadgeText="0"></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="carian_umum" Text="Carian Umum" IconUrl="\images\icons-small\magnifier-left.png" CssClass="singleNodesClass"></DxTreeViewNode>

            <DxTreeViewNode Text="Tetapan" IconUrl="" CssClass="@rootNodeCssClass">
                <Nodes>
                    <DxTreeViewNode NavigateUrl="user_system" Text="Pengguna Sistem" IconUrl="\images\icons-small\xfn.png" />
                    <DxTreeViewNode NavigateUrl="role" Text="Peranan Sistem" IconUrl="\images\icons-small\toolbox.png" />
                    <DxTreeViewNode NavigateUrl="user_role" Text="Pengguna & Peranan" IconUrl="\images\icons-small\xfn-friend.png" />
                    <DxTreeViewNode NavigateUrl="user_access" Text="Akses Peranan" IconUrl="\images\icons-small\blue-document-tree.png" />
                    <DxTreeViewNode NavigateUrl="senarai_jabatan" Text="Jabatan" IconUrl="\images\icons-small\hard-hat.png" />
                    <DxTreeViewNode NavigateUrl="unit" Text="Unit" IconUrl="\images\icons-small\hard-hat--arrow.png" />
                    <DxTreeViewNode NavigateUrl="./" Text="Negeri" IconUrl="\images\icons-small\direction.png" />
                    <DxTreeViewNode NavigateUrl="./" Text="Daerah" IconUrl="\images\icons-small\marker.png" />
                    <DxTreeViewNode NavigateUrl="./" Text="Mukim" IconUrl="\images\icons-small\map-pin.png" />
                    <DxTreeViewNode NavigateUrl="./" Text="Setup Notis" IconUrl="\images\icons-small\document-hf.png" />
                    <DxTreeViewNode NavigateUrl="./" Text="Setup Kompaun" IconUrl="\images\icons-small\document-hf.png" />
                    <DxTreeViewNode NavigateUrl="./" Text="Setup Nota Pemeriksaan" IconUrl="\images\icons-small\document-hf.png" />
                    <DxTreeViewNode NavigateUrl="setupBorang" Text="Setup Medan Borang" IconUrl="\images\icons-small\document-hf.png" />
                </Nodes>
            </DxTreeViewNode>

            <DxTreeViewNode Text="Papan Pemuka" IconUrl="" CssClass="@rootNodeCssClass">
                <Nodes>
                    <DxTreeViewNode NavigateUrl="zon_eksekutif" Text="Ringkasan Eksekutif" IconUrl="\images\icons-small\table-heatmap.png" />
                    <DxTreeViewNode NavigateUrl="zon_majlis" Text="Ringkasan Zon Majlis" IconUrl="\images\icons-small\table-insert.png" />
                    <DxTreeViewNode NavigateUrl="./" Text="Graf Statistik" IconUrl="\images\icons-small\chart-up-color.png" />
                </Nodes>
            </DxTreeViewNode>

            <DxTreeViewNode Text="Taburan Data" IconUrl="" CssClass="@rootNodeCssClass">
                <Nodes>
                    <DxTreeViewNode NavigateUrl="taburan_lesen" Text="Lesen" IconUrl="\images\icons-small\tables-stacks.png" />
                    <DxTreeViewNode NavigateUrl="taburan_cukai" Text="Taksiran" IconUrl="\images\icons-small\table-money.png" />
                    <DxTreeViewNode NavigateUrl="dashboard" Text="Penguatkuasaan" IconUrl="\images\icons-small\table--pencil.png" />
                </Nodes>
            </DxTreeViewNode>

            <DxTreeViewNode NavigateUrl="./" Text="Perincian Data" IconUrl="\images\icons-small\blue-document-template.png" CssClass="singleNodesClass"></DxTreeViewNode>

            <DxTreeViewNode NavigateUrl="./" Text="Nota Pemeriksaan" IconUrl="\images\icons-small\blog--pencil.png" CssClass="singleNodesClass"></DxTreeViewNode>

            <DxTreeViewNode Text="Pelaporan" IconUrl="" CssClass="@rootNodeCssClass" BadgeText="12">
                <Nodes>
                    <DxTreeViewNode NavigateUrl="kompaun_lesen" Text="Laporan Kompaun" IconUrl="\images\icons-small\document-template.png" />
                    <DxTreeViewNode NavigateUrl="lapor_notis" Text="Laporan Notis" IconUrl="\images\icons-small\document-template.png" />
                    <DxTreeViewNode NavigateUrl="rptweatherforecast" Text="Laporan Harian" IconUrl="\images\icons-small\document-template.png" />
                </Nodes>
            </DxTreeViewNode>

            <DxTreeViewNode Text="Aduan" IconUrl="" CssClass="@rootNodeCssClass" BadgeText="8">
                <Nodes>
                    <DxTreeViewNode NavigateUrl="rptweatherforecast" Text="Sample Report" IconUrl="\images\icons-small\document-template.png" />
                </Nodes>
            </DxTreeViewNode>

            <DxTreeViewNode Text="Bantuan &amp; Sokongan" IconUrl="" CssClass="@rootNodeCssClass">
                <Nodes>
                    <DxTreeViewNode NavigateUrl="dashboardmode" Text="Report Center" IconUrl="\images\icons-small\system-monitor.png" />
                    <DxTreeViewNode NavigateUrl="systemuser" Text="Report a Problem" IconUrl="\lib\remixicon\png\chat-quote-line.png" />
                    <DxTreeViewNode NavigateUrl="systemuser" Text="FAQ" IconUrl="\lib\remixicon\png\question-answer-line.png" />
                    <DxTreeViewNode NavigateUrl="SenaraiFaq" Text="Maklum Balas" IconUrl="\lib\remixicon\png\feedback-fill.png" />
                    <DxTreeViewNode NavigateUrl="login" Text="Hubungi Kami" IconUrl="\lib\remixicon\png\customer-service-2-line.png" />
                </Nodes>
            </DxTreeViewNode>

            <DxTreeViewNode Text="Audit" IconUrl="" CssClass="@rootNodeCssClass">
                <Nodes>
                    <DxTreeViewNode NavigateUrl="SenaraiAudit" Text="Log Audit" IconUrl="\images\icons-small\wrench-screwdriver.png" />
                    <DxTreeViewNode NavigateUrl="SenaraiArkibAudit" Text="Arkib Log Audit" IconUrl="\images\icons-small\wrench-screwdriver.png" />
                </Nodes>
            </DxTreeViewNode>

            <DxTreeViewNode NavigateUrl="login" Text="Log Keluar" IconUrl="\lib\remixicon\png\logout-box-r-line.png" CssClass="singleNodesClass"></DxTreeViewNode>

        </Nodes>
    </DxTreeView>
</div>


@code {
    const string rootNodeCssClass = "root-item";
    [Parameter] public string? StateCssClass { get; set; }

}
