@using Components
@using PBTPro.Data
@using PBTPro.DAL.Models
@using PBTPro.DAL.Models.PayLoads
@using GoogleMapsComponents.Maps

@inject IJSRuntime JSRuntime
@inject ApiConnector _ApiConnector // 07/11/2024 - API Fetcher - ismail
@inject PBTAuthStateProvider _PBTAuthStateProvider

<div class="e-lesen-title"><span class="px-3"><img src="/images/icons/document-text-image.png" alt="" /><span class="px-1">Info Lesen</span></span></div>
<div class="e-card">
    <div class="e-main d-flex align-items-center">
        <div class="e-info flex-grow-1 ms-3 py-3">

            @if (PremisInfo.license != null)
            {

                <table class="e-name" style="width:100%;">
                    <tr>
                        <td nowrap>No. Lot</td>
                        <td nowrap valign="top">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                        <td style="width:100%;">@($"{PremisInfo.license.lot}")</td>
                    </tr>
                    <tr>
                        <td nowrap>No. SSM</td>
                        <td nowrap valign="top">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                        <td style="width:100%;">@($"{(string.IsNullOrEmpty(PremisInfo.license.ssm_no) ? "" : PremisInfo.license.ssm_no)}")</td>
                    </tr>
                    <tr>
                        <td nowrap>No. Lesen</td>
                        <td nowrap valign="top">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                        <td style="width:100%;">@($"{(string.IsNullOrEmpty(PremisInfo.license.license_accno) ? "" : PremisInfo.license.license_accno)}")</td>
                    </tr>
                    <tr>
                        <td nowrap>Tempoh Lesen</td>
                        <td nowrap valign="top">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                        <td style="width:100%;">@($"{(string.IsNullOrEmpty(PremisInfo.license.license_duration) ? "" : PremisInfo.license.license_duration)} ({(PremisInfo.license.start_date == null ? "" : PremisInfo.license.start_date)} - {(PremisInfo.license.end_date == null ? "" : PremisInfo.license.end_date)})")</td>
                    </tr>
                    <tr>
                        <td nowrap>Jumlah (RM)</td>
                        <td nowrap valign="top">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                        <td style="width:100%;">@(PremisInfo.license.total_amount != null ? PremisInfo.license.total_amount : "0.00")</td>
                    </tr>
                    <tr>
                        <td nowrap>Nama Perniagaan</td>
                        <td nowrap valign="top">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                        <td style="width:100%;">@($"{(string.IsNullOrEmpty(PremisInfo.license.business_name) ? "" : PremisInfo.license.business_name)}")</td>
                    </tr>
                    <tr>
                        <td nowrap>Alamat</td>
                        <td nowrap valign="top">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                        <td style="width:100%;">@($"{(string.IsNullOrEmpty(PremisInfo.license.business_addr) ? "" : PremisInfo.license.business_addr)}")
@*                             <a class="marker-panel" style="text-decoration:none;cursor:pointer" onclick=@(() => OpenNewStreetWindow(LatLng.ToString(), LatLng.ToString()))>
                                @($"{PremisInfo.license.business_addr}")
                            </a> *@
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><div class="e-divider my-3"></div></td>
                    </tr>
                    <tr>
                        <td nowrap>Pemegang Lesen</td>
                        <td nowrap valign="top">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                        <td style="width:100%;">@($"{(string.IsNullOrEmpty(PremisInfo.license_owner?.owner_name) ? "" : PremisInfo.license_owner?.owner_name)} - ({(string.IsNullOrEmpty(PremisInfo.license_owner?.owner_icno) ? "" : PremisInfo.license_owner?.owner_icno)})")</td>
                    </tr>
                    <tr>
                        <td nowrap>Alamat</td>
                        <td nowrap valign="top">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                        <td style="width:100%;">@($"{(string.IsNullOrEmpty(PremisInfo.license_owner?.owner_addr) ? "" : PremisInfo.license_owner?.owner_addr)}")</td>
                    </tr>
                    <tr>
                        <td colspan="3"><div class="e-divider my-3"></div></td>
                    </tr>
                    <tr>
                        <td nowrap>Dokumen Sokongan</td>
                        <td nowrap valign="top">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                        <td style="width:100%;">
                            @if (!string.IsNullOrEmpty(PremisInfo.license.doc_support))
                            {
                                <a href="@PremisInfo.license.doc_support" target="_blank"><img src="/images/icons-small/documents-text.png" /></a>
                            }  
                        </td>
                    </tr>
                    <tr>
                        <td nowrap>Gambar Perniagaan</td>
                        <td nowrap valign="top">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                        <td style="width:100%;"></td>
                    </tr>
@*                     <tr>
                        <td colspan="3"><div class="e-status">@GetStatusIconHtml(PremisInfo.status_lesen_id ?? 0)</div></td>
                    </tr> *@
                </table>
@*                 <div class="e-name">No. Lot : @($"{PremisInfo.license.lot}")</div>
                <div class="e-name">No. SSM : @($"{PremisInfo.license.ssm_no}")</div>
                <div class="e-name">No. Lesen : @($"{PremisInfo.license.license_accno}")</div>
                <div class="e-name"> : </div>
                <div class="e-name">Nama Perniagaan : </div>
                <div class="e-name">Alamat : </div>
                <div class="e-divider my-3"></div>
                <div class="e-name">Nama Pemegang Lesen : @($"{PremisInfo.license_owner.owner_name} - ({PremisInfo.license_owner.owner_icno})")</div>
                <div class="e-name">Alamat : @($"{PremisInfo.license_owner.owner_addr}")</div>

                <div class="e-status">@GetStatusIconHtml(PremisInfo.status_lesen_id ?? 0)</div> *@
                @* <div class="e-divider my-3"></div> *@

                List<ImageFile> lesenImg = new List<ImageFile>();

                if (!string.IsNullOrEmpty(PremisInfo.license.g_activity_1))
                    lesenImg.Add(new ImageFile() { Url = PremisInfo.license.g_activity_1 });

                if (!string.IsNullOrEmpty(PremisInfo.license.g_activity_2))
                    lesenImg.Add(new ImageFile() { Url = PremisInfo.license.g_activity_2 });

                if (!string.IsNullOrEmpty(PremisInfo.license.g_activity_3))
                    lesenImg.Add(new ImageFile() { Url = PremisInfo.license.g_activity_3 });

                if (!string.IsNullOrEmpty(PremisInfo.license.g_signbboard_1))
                    lesenImg.Add(new ImageFile() { Url = PremisInfo.license.g_signbboard_1 });

                if (!string.IsNullOrEmpty(PremisInfo.license.g_signbboard_2))
                    lesenImg.Add(new ImageFile() { Url = PremisInfo.license.g_signbboard_2 });

                if (!string.IsNullOrEmpty(PremisInfo.license.g_signbboard_3))
                    lesenImg.Add(new ImageFile() { Url = PremisInfo.license.g_signbboard_3 });

                <div class="mt-2 mb-3">
                    <Carousel imageset="@lesenImg" CssClass="col-12"></Carousel>
                </div>

                @* <div class="e-divider my-3"></div> *@
                <div class="e-email">
                    <a class="receipt-panel" onclick=@(() => ShowDetails("Notis", (string.IsNullOrEmpty(PremisInfo.license.license_accno) ? "" : PremisInfo.license.license_accno)))>
                        <img src="/images/icons-small/script-text.png" alt="" />
                        Notis
                        <span class="@(_notice == 0 ? "badge-button-green" : "badge-button-red")">@_notice</span>
                    </a>

                    <a class="receipt-panel">
                        <img src="/images/icons-small/receipt-text.png" alt="" />
                        Kompaun
                        <span class="@(_compound == 0 ? "badge-button-green" : "badge-button-red")">@_compound</span>
                    </a>

                    <a class="receipt-panel">
                        <img src="/images/icons-small/box.png" alt="" />
                        Sitaan
                        <span class="@(_confiscation == 0 ? "badge-button-green" : "badge-button-red")">@_confiscation</span>
                    </a>

                    <a class="receipt-panel">
                        <img src="/images/icons-small/document-task.png" alt="" />
                        Nota Pemeriksaan
                        <span class="@(_inspection == 0 ? "badge-button-green" : "badge-button-red")">@_inspection</span>
                    </a>
                </div>
                <div class="e-divider my-3"></div>
                <div class="e-email">
                    <button class="btn-panel-l" type="button">Maklumat Lesen</button>
                    @*<button class="btn-panel-l">
                        Nota Pemeriksaan
                        <span class="badge-button-green">@_inspection</span>
                    </button>*@
                </div>
            }
            else
            {

                <div class="e-name">No. Lot : -</div>
                <div class="e-name">No. SSM : -</div>
                <div class="e-name">No. Lesen : -</div>
                <div class="e-name">Tempoh Lesen : -</div>
                <div class="e-name">Jumlah (RM) : -</div>
                <div class="e-name">Nama Perniagaan : -</div>
                <div class="e-name">Alamat : -</div>
                <div class="e-divider my-3"></div>
                <div class="e-name">Pemegang Lesen : -</div>
                <div class="e-name">Alamat : -</div>
                <div class="e-name">Dokumen Sokongan : -</div>

@*                <div class="e-name">No. Lot : TIADA DATA</div>
                <div class="e-name">No. SSM : TIADA DATA</div>
                <div class="e-name">No. Lesen : TIADA DATA</div>
                <div class="e-name">Tempoh Lesen : TIADA DATA</div>
                <div class="e-name">Nama Perniagaan : TIADA DATA</div>
                <div class="e-name">Alamat : TIADA DATA</div>
                <div class="e-divider my-3"></div>
                <div class="e-name">Nama Pemegang Lesen : TIADA DATA</div>
                <div class="e-name">Alamat : TIADA DATA</div>

                <div class="e-divider my-3"></div>

                <div class="e-email">
                    <a class="receipt-panel">
                        <img src="/images/icons/script-text.png" alt="" />
                        Notis
                        <span class="badge-button-green">0</span>
                    </a>
                    <a class="receipt-panel">
                        <img src="/images/icons/script.png" alt="" />
                        Notis Tamat Tempoh
                        <span class="badge-button-green">0</span>
                    </a>

                    <a class="receipt-panel">
                        <img src="/images/icons/receipt-text.png" alt="" />
                        Kompaun
                        <span class="badge-button-red">0</span>
                    </a>
                </div>
                <div class="e-divider my-3"></div>
                <div class="e-email">
                    <button class="btn-panel-l" type="button" disabled="true">Maklumat Lesen</button>
                    <button class="btn-panel-l" disabled="true">
                        Nota Pemeriksaan
                        <span class="badge-button-green">0</span>
                    </button>
                    <button class="btn-panel-l" type="button" disabled="true">Maklumat Sitaan</button>
                </div> *@
            }
        </div>
    </div>
</div>


<DxPopup HeaderText="@HeaderText" @bind-Visible="@PopupVisible">
    <Content>

        <DxListBox Data="@_dtDataTaburan"
                   @bind-Value="@_valueTaburan"
                   CssClass="cw-640 ch-360">
            <ItemDisplayTemplate>
                <div class="listbox-item-template">
                    <div class="listbox-item-template-text">
                        <span>@context.DataItem.ref_no</span>
                        <span class="listbox-item-template-text-phone">@context.DataItem.trnstatus_view</span>
                        <span>@context.DataItem.doc_name</span>
                        <span><a href="@context.DataItem.doc_pathurl" target="_blank">@context.DataItem.doc_pathurl</a></span>
                    </div>
                </div>
            </ItemDisplayTemplate>
        </DxListBox>


    </Content>
</DxPopup>

@code {
    [Parameter] public premis_license_tax_view PremisInfo { get; set; }

    [Parameter] public LatLngLiteral? LatLng { get; set; }

    [Parameter] public List<string> Dtfloor { get; set; }

    // [Parameter] public IEnumerable<KeyValuePair<string, object>> ImageAttributes { get; set; }

    List<taburan_view> _dtDataTaburan { get; set; }
    taburan_view _valueTaburan { get; set; }

    bool PopupVisible = false;
    string HeaderText;
    int _inspection = 0;
    int _confiscation = 0;
    int _notice = 0;
    int _compound = 0;

    async Task ShowDetails(string headerdtl, string _accNo)
    {
        PopupVisible = true;
        HeaderText = headerdtl;

        // Data = await NwindDataService.GetEmployeesAsync();
        // Value = Data.FirstOrDefault();

        _ApiConnector.accessToken = _PBTAuthStateProvider.accessToken;
        // string requestUrl = $"/api/Notices/GetNoticeListByLicenseAccNo/{_accNo}";
        string requestUrl = $"/api/Notices/GetNoticeListByLicenseAccNo/L01010114436620149";
        var response = await _ApiConnector.ProcessLocalApi(requestUrl);

        if (response.ReturnCode == 200)
        {
            string? dataString = response?.Data?.ToString();
            if (!string.IsNullOrWhiteSpace(dataString))
            {
                dynamic result = JsonConvert.DeserializeObject(dataString);
                List<dynamic> dataList = result.ToObject<List<dynamic>>();

                foreach (var _dt in dataList)
                {
                    taburan_view _notice = new taburan_view
                    {
                        ref_no = _dt.notice_ref_no,
                        section_code = _dt.section_code,
                        act_code = _dt.act_code,
                        doc_pathurl = _dt.doc_pathurl,
                        doc_name = _dt.doc_name,
                        trnstatus_view = _dt.trnstatus_view,
                        created_at = _dt.created_at
                    };

                    _dtDataTaburan.Add(_notice);
                }

                _valueTaburan = _dtDataTaburan.FirstOrDefault();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _ApiConnector.accessToken = _PBTAuthStateProvider.accessToken;
        string requestUrl = $"/api/License/GetTicketCountByLicenseAccNo/{PremisInfo.license_accno}";
        var response = await _ApiConnector.ProcessLocalApi(requestUrl);

        if (response.ReturnCode == 200)
        {
            string? dataString = response?.Data?.ToString();
            if (!string.IsNullOrWhiteSpace(dataString))
            {
                var tasks = new List<Task>();
                dynamic _dtTicket = JsonConvert.DeserializeObject(dataString);

                _inspection = _dtTicket.inspection;
                _confiscation = _dtTicket.confiscation;
                _notice = _dtTicket.notice;
                _compound = _dtTicket.compound;
            }
        }
    }


    public async Task OpenNewStreetWindow(string latitude, string longitude)
    {
        await JSRuntime.InvokeVoidAsync("open", "http://maps.google.com/maps?q=&layer=c&cbll=" + latitude + "," + longitude + "&cbp=11,0,0,0,0", "_blank");
    }

    public MarkupString GetStatusIconHtml(int status_id)
    {
        string priorytyClass = "nodata";
        string title = " TIADA DATA ";
        if (status_id == 1)
        {
            priorytyClass = "aktif";
            title = " LESEN AKTIF ";
        }
        else if (status_id == 5)
        {
            priorytyClass = "danger";
            title = " TIDAK BERLESEN ";
        }
        else if (status_id == 3)
        {
            priorytyClass = "gantung";
            title = " LESEN GANTUNG ";
        }

        string html = string.Format("<span class='e-badge e-priority-{0} py-1 px-2' title='{1}'>{1}</span>", priorytyClass, title);
        return new MarkupString(html);

    }

    // string GetColorLot(int typeLot)
    // {
    //     switch (typeLot)
    //     {
    //         case 1:
    //             return "Green";
    //         case 2:
    //             return "Red";
    //         case 3:
    //             return "Blue";
    //         case 4:
    //             return "Orange";
    //         case 5:
    //             return "Yellow";
    //         case 6:
    //             return "#ccc";
    //         case 7:
    //             return "Purple";
    //         default:
    //             return "#ccc";
    //     }
    // }
}