@page "/jumlesenaktif_backup"
@attribute [AllowAnonymous]

<div class="w-100 row borderGraph">
    <div class="col-9">

        <span class="chart-title">Paparan Lesen Mengikut Status</span>

        <DxBarGauge Width="100%"
                    Height="500px"
                    StartValue="0"
                    EndValue="100"
                    Palette="@Colors"
                    Values="@Values">
            <DxGaugeGeometrySettings StartAngle="-90" EndAngle="270" />
            <DxBarGaugeLabelSettings Indent="30">
                <DxFontSettings Weight="600" />
                <DxTextFormatSettings LdmlString="@LabelFormat" />
            </DxBarGaugeLabelSettings>
            <DxBarGaugeLegendSettings Visible="false"
                                      ItemCaptions="@LegendItemCaptions"
                                      VerticalAlignment="VerticalEdge.Bottom"
                                      HorizontalAlignment="HorizontalAlignment.Right" />
            <DxExportSettings Enabled="true" />
            <DxMarginSettings Top="20" Right="30" Bottom="20" Left="30" />
@*             <DxTitleSettings Text="Paparan Lesen Mengikut Status">
                <DxFontSettings Size="28" Weight="600" />
            </DxTitleSettings> *@
            <DxTooltipSettings Enabled="true" Color="lightyellow">
                <DxTextFormatSettings LdmlString="@LabelFormat" />
            </DxTooltipSettings>
        </DxBarGauge>
    </div>
    <div class="col" style="border-left:1px solid #ccc;">
        <div class="card border-0 w-100 mt-lg-5">
            <div class="card-body p-1">
                @for (int i = 0; i < LegendItemCaptions.Length; i++)
                {
                    var color = Colors[i];
                    @* var line = LegendItemCaptions[i]; *@
@*                     var className = $"sw-line{i + 1}"; *@
                    <div class="p-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 30 30"><rect width="15" height="15" x="5" y="7" rx="1" ry="1" fill="@color" /></svg>
                        <span class="chart-legend">@LegendItemCaptions[i]</span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    string[] Colors = new string[] { "green", "red", "orange", "yellow", "#ccc" };

    double[] Values = new double[] { 90.27, 65.32, 84.59, 81.86, 9 };
    string LabelFormat = "##.#'%' ";
    string[] LegendItemCaptions = new string[] { "Lesen Aktif", "Lesen Tamat Tempoh", "Lesen Batal", "Gantung", "Lot Kosong" };
}